#container {
  width: 80%;
  aspect-ratio: 2/1;
  margin: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

#scroll > div{
  margin: 0px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  aspect-ratio: 4/1;
}