/* ALL SCROLL  - SNAP */



/* ALL SCROLL - HORIZONTAL */
$base: #172A3A;
$number-of-sections: 5;

@mixin bg-clr($color, $sections) {
  $percent: 100 / $sections;
  
  @for $i from 1 through $sections {
    $value: lighten($color, ($i * $percent));
    &:nth-of-type(#{$i}) {
      background: $value; 
    }
  }
}

scroll {
  scroll-snap-type: x mandatory;
}

scroll2 {
  @include bg-clr($base, $number-of-sections);
  display: grid;
  place-items: center;
  min-width: 150vh;
  
  &:nth-of-type(1) {
    scroll-snap-align: start;
  }
  &:nth-of-type(2) {
    scroll-snap-align: center;
  }
  &:nth-of-type(3) {
    scroll-snap-align: end;
  }
}






/* SCROLL 5 */
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dfab82;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}