---
---

<a
	href="https://mobicycle.group"
	class="absolute md:visible z-50 ml-1 lg:-ml-8 ounded-xl shadow-xl px-2 bg-gradient-to-t from-white-650 md:bg-gradient-to-t md:from-slate-650 md:mix-blend-luminosity border-transparent rounded-md">
	<div class="w-20 md:w-24 mix-blend-luminosity">
		<img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/b5559dc3-d375-47cc-c889-df3c41382200/200"/>
	</div>
</a>
