---
// Footer Logo
---

<div class="h-auto max-w-40">
    <a href="https://mobicycle.tech">
        <img
            src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/e6682ad4-09cd-48b3-eb0e-530252e29d00/450"
            alt="MobiCycle Logo"
        />
    </a>
</div>
