---

---

<!-- SCROLL 5-->



<div class="item purple">
    <div class="panel-5">
        <div class="w-layout-grid mobicycle-grid">
        <div class="hero-div-2">
            <div class="w-layout-grid hero-grid-2">
            <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b02-420da0e1" class="hero-content-2">
                <div class="label-2">an intermediary you can trust</div>
                <div class="hero-words-wrap">
                <h1 class="mobicycle-heading">MobiCycle<br></h1>
                </div>
                <p class="hero-paragraph white">one platform to manage electronics &amp; reduce waste</p>
                <div class="buttons-div">
                <div class="w-layout-grid fancy-buttons-2">
                    <a href="https://platform.mobicycle.group" id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b0d-420da0e1" class="platform-button-2 w-inline-block">
                    <div class="the-platform-button-2">The Platform</div>
                    <div class="button-overlay"></div>
                    </a>
                    <a href="https://demo-warning.mobicycle.group" id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b11-420da0e1" data-w-id="2a60f71a-bef2-f602-46d0-36f202213b11" class="button-transparent _30-margin-top w-inline-block">
                    <div class="button-line-div-2">
                        <div class="paragraph-2 orange">Try the demo</div>
                        <div style="width:20%" class="button-line"></div>
                    </div>
                    </a>
                </div>
                </div>
            </div>
            <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b16-420da0e1" class="mobicycle-image-div">
                <div class="w-layout-grid login-button tablet">
                <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b18-420da0e1" class="login-button-div-2">
                    <a href="https://mobicycle.consulting" class="options-button-2 w-button">consulting</a>
                </div>
                <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b1b-420da0e1" class="login-button-div-2">
                    <a href="https://mobicycle.tech" class="options-button-2 w-button">TECH</a>
                </div>
                <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b1e-420da0e1" class="login-button-div-2">
                    <a href="https://mobicycle.games" class="options-button-2 w-button">games</a>
                </div>
                <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b21-420da0e1" class="login-button-div-2">
                    <a href="https://mobicycle.marketing" class="options-button-2 w-button">marketing</a>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div id="w-node-_48437e09-a9e0-9f5d-7be7-9b2377342719-420da0e1" class="_154-mouse-wrapper">
            <div class="_154-mouse">
            <div data-w-id="48437e09-a9e0-9f5d-7be7-9b237734271b" class="_154-circle"></div>
            </div>
            <div class="_154-scroll-text">SCROLL</div>
        </div>
        </div>
    </div>
</div>

