---

---

<!-- SCROLL 4 -->
<div class="item relative">
    <div class="panel-4">
        <div class="html-embed-22 w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/f24566cd-df42-46eb-8906-edbb7b4a7000/1440"></div>           
        <section class="py-20 md:py-28 bg-white" style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;">
        <div class="container px-4 mx-auto">
            <div class="max-w-4xl mx-auto text-center we-innovate">
            <h2 class="mb-4 text-3xl md:text-4xl font-heading font-bold">How we innovate</h2>
            <p class="mb-6 text-lg md:text-xl font-heading font-medium text-coolGray-500">Talk with a digital expert about Scope 3 emissions. Explore biodiversity loss in a digital environment. Use digital tools to quantify your footprint. Buy a specialty waste bin for electronics and electricals. Avoid messaging that undermines your commitment to sustainability. Learn the basics of sustainability through play.<br><br> <i><b>Start with a consultation.</b></i></p>
            </div>
        </div>
        </section>
    </div>
    </div>