---
import './css/keyframes.css';

import Scroll1 from "./Scroll1.astro";
import Scroll2 from "./Scroll2.astro";
import Scroll3 from "./Scroll3.astro";
import Scroll4 from "./Scroll4.astro";
import Scroll5 from "./Scroll5.astro";
---

<!-- SCROLL-->
<section id="track" class="w-full h-screen">
<div id="camera" class="top-0 w-screen h-screen">
  <div id="frame" class="w-full h-full"></div>
  <div id="item"><Scroll1/></div>
  <div id="item"><Scroll2/></div>
  <div id="item"><Scroll3/></div>
  <div id="item"><Scroll4/></div>
  <div id="item"><Scroll5/></div>  
</div>
</section>

