---

---

<!-- SCROLL 4 -->
<div class="flex h-screen">
    <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/f24566cd-df42-46eb-8906-edbb7b4a7000/1440">
    <div class="flex flex-wrap px-20 py-20 md:py-2" style="background-image: url(''); background-position: center;">
        <h2 class="text-gray-200 text-3xl my-10">How we innovate</h2>
        <p class="text-gray-200 text-2xl leading-normal whitespace-pre-wrap w-72">Talk with a digital expert about Scope 3 emissions. Explore biodiversity loss in a digital environment. Use digital tools to quantify your footprint. Buy a specialty waste bin for electronics and electricals. Avoid messaging that undermines your commitment to sustainability. Learn the basics of sustainability through play.<br><br> <i><b>Start with a consultation.</b></i></p>
    </div>
</div>
