---
import Scroll1 from "./Scroll1.astro";
import Scroll2 from "./Scroll2.astro";
import Scroll3 from "./Scroll3.astro";
import Scroll4 from "./Scroll4.astro";
import Scroll5 from "./Scroll5.astro";
---

<!-- SCROLL-->
<div class="h-screen">
  <div class="bg-black scroll">
    <div class=""><Scroll1/></div>
    <div class=""><Scroll2/></div>
    <div class=""><Scroll3/></div>
    <div class=""><Scroll4/></div>
    <div class=""><Scroll5/></div>  
  </div>
</div>  