---
---

<div class="grid grid-rows-1">
	<ul
		role="list"
		class="mt-0 grid grid-cols-1 gap-12 lg:grid-cols-2 lg:gap-12">
		<!-- BUTTON -->
		<li class="col-span-1 flex rounded-md shadow-sm w-full">
			<div
				class="flex flex-1 items-center justify-between truncate tracking-widest text-orange-650 shadow-lg px-6 py-2 text-md shadow-slate-950 font-semibold leading-loose hover:bg-gradient-to-r hover:from-black rounded transition duration-200">
				<div class="flex-1 truncate px-4 py-2 text-sm">
					<a
						class="uppercase"
						href="https://demo.mobicycle.consulting"
						>Public Demo</a
					>
				</div>
			</div>
		</li>

		<!-- BUTTON -->
		<li class="col-span-1 flex rounded-md shadow-sm w-full">
			<div
				class="flex flex-1 items-center justify-between truncate tracking-widest text-orange-650 shadow-lg px-6 py-2 text-md shadow-slate-950 font-semibold leading-loose hover:bg-gradient-to-r hover:from-black rounded transition duration-200">
				<div class="flex-1 truncate px-4 py-2 text-sm">
					<a
						class="uppercase"
						href="https://mobicycle.support"
						>Private Demo</a
					>
				</div>
			</div>
		</li>
		<!-- BUTTON -->
		<li class="col-span-1 flex rounded-md shadow-sm w-full">
			<div
				class="flex flex-1 items-center justify-between truncate tracking-widest text-orange-650 shadow-lg px-6 py-2 text-md shadow-slate-950 font-semibold leading-loose hover:bg-gradient-to-r hover:from-black rounded transition duration-200">
				<div class="flex-1 truncate px-4 py-2 text-sm">
					<a
						class="uppercase"
						href="https://dashboard.mobicycle.consulting"
						>The Dashboard</a
					>
				</div>
			</div>
		</li>

		<!-- BUTTON -->
		<li class="col-span-1 flex rounded-md shadow-sm w-full">
			<div
				class="flex flex-1 items-center justify-between truncate tracking-widest text-orange-650 shadow-lg px-6 py-2 text-md shadow-slate-950 font-semibold leading-loose hover:bg-gradient-to-r hover:from-black rounded transition duration-200">
				<div class="flex-1 truncate px-4 py-2 text-sm">
					<a
						class="uppercase"
						href="https://mobicycle.support"
						>Talk to Sales</a
					>
				</div>
			</div>
		</li>
	</ul>
</div>
