---
import Forest from "./Forest.astro";
import Hill from "./Hill.astro";
import Mountain from "./Mountain.astro";
import Sky from "./Sky.astro";
---

<div class="h-screen overflow-y-hidden mb-32">
    <Sky/>
    <Forest/>
    <Hill/>
    <Mountain/>
</div>
