---
import Nav from "../Nav/Nav.astro";
import Background from "./Background.astro";
import Subheader from "./Subheader.astro";
---

<section class="">
    <div class="z-10 mt-14"><Nav/></div>
    <div class="z-50 "><Subheader/></div>
    <Background/>
</section>



    
