---
import Background from "./Background/Background.astro";
import Subheader from "./Subheader.astro";
---

<section class="h-64 sm:h-80 md:h-96">
    <div class="mt-10 md:mt-14"></div>
    <div class="pt-10 pb-10 sm:ml-40 lg:ml-56 sm:pt-24 md:pt-26 lg:pt-32"><Subheader/></div>
    <Background/>
</section>
