---
import Nav from "./Nav/Nav.astro";
import Background from "./Background/Background.astro";
import Subheader from "./Subheader.astro";
---

<section class="h-64 sm:h-80 md:h-96">
    <div class="mt-10 md:mt-14"><Nav/></div>
    <div class="sm:ml-40 lg:ml-56 sm:pt-24 pt-10 md:pt-26 lg:pt-32 pb-10"><Subheader/></div>
    <Background/>
</section>



    
