---
import Nav from "./Nav/Nav.astro";
import Background from "./Background/Background.astro";
import Subheader from "./Subheader.astro";
---

<section class="h-64 sm:h-80 md:h-96">
    <div class="mt-10 md:mt-14"><Nav/></div>
    <div class=""><Subheader/></div>
    <Background/>
</section>



    
