---
import Nav from "./Nav/Nav.astro";
import Background from "./Background/Background.astro";
import Subheader from "./Subheader.astro";
---

<section class="">
    <div class="mt-10 md:mt-14"><Nav/></div>
    <div class="h-96 md:h-auto"><Subheader/></div>
    <Background/>
</section>



    
