---

---
<div class="flex flex-col md:z-20">
    <div class="flex flex-col w-full md:w-1/3 lg:w-1/4 px-4 mb-4 md:mb-0"></div>
    <div class="flex flex-col md:ml-40 mt-20 md:mt-40 w-full md:2/3 lg:w-3/4 px-4 mb-4 md:mb-0 z-20 lg:z-20">    

        <div class="container mx-auto space-y-6">

            <div class="w-full px-4 mb-4 md:mb-0">
                <h1 class="tracking-widest font-extralight w-fit rounded-md text-slate-200 text-xl bg-slate-900 px-4 py-2"> MobiCycle</h1>
            </div>

            <div class="w-fit px-4 mb-4 md:mb-0">
                <h2 class="flex flex-wrap tracking-widest leading-6 max-w-xl font-extralight text-gray-200 text-xl md:text-5xl bg-slate-900  bg-opacity-80 p-4 rounded-xl">Scope 3 management of electronics & electricals</h2>
            </div>

        </div>
    </div>

</div>
