---

---
<div class="flex flex-col mb-4 md:space-y-6">

        <div class="w-fit md:px-4 mb-4 md:mb-0 sm:z-50">
            <h1 class="tracking-widest font-extralight w-fit rounded-md text-transparent sm:text-slate-200 text-xl sm:bg-slate-900 px-4 py-2"> MobiCycle</h1>
        </div>

        <div class="w-fit md:px-4 mb-4 md:mb-0 sm:z-50">
            <h2 class="flex flex-wrap sm:max-w-md 2xl:max-w-7xl p-4 text-3xl 2xl:text-5xl tracking-widest leading-10 font-extralight text-gray-200  bg-slate-900  bg-opacity-80 rounded-xl">Scope 3 management of electronics & electricals</h2>
        </div>

</div>
