---
import Forest from "./Forest.astro";
import Hill from "./Hill.astro";
import Mountain from "./Mountain.astro";
import Sky from "./Sky.astro";
---
<div class="flex">
    <Sky/>
    <Hill/>
    <Mountain/>
    <Forest/>
</div>