---
import Header from "./Header/Header.astro";
import Footer from "./Footer/Footer.astro";
import Sections from "./Sections/Sections.astro";
import Scroll from "./Scroll/Scroll.astro";
---

<div class="grid column">
    <div class="h-screen">
        <Header/>
    </div>

    <Scroll/>
    <Sections/>
</div>
<Footer/>

