---
import Nav from "../Nav/Nav.astro";
import Header from "./Header/Header.astro";
import Footer from "../Footer/Footer.astro";
import Sections from "./Sections/Sections.astro";
---

<div class="">
<div class="pl-24 mt-10 md:mt-14">
<Nav /></div>
    <div class="overflow-x-hidden sm:h-full 2xl:h-screen">
        <Header/>
    </div>
    <Sections/>
</div>
<Footer/>
