---
import Header from "./Header/Header.astro";
import Footer from "./Footer/Footer.astro";
import Sections from "./Sections/Sections.astro";
---

<div class="">
    <div class="sm:h-full 2xl:h-screen overflow-x-hidden">
        <Header/>
    </div>

    <Sections/>
</div>
<Footer/>


