---
import ButtonH from "../Buttons/ButtonH.astro"
---

<!-- SECTION H -->
<section class="relative py-20">
  <div class="container px-4 mx-auto">
    <div class="flex flex-wrap items-center -mx-4">
      <div class="w-full px-4">
        <div class="max-w-lg text-center lg:mr-auto">
          <span class="inline-block mb-10">
            <svg
              width="48"
              height="48"
              viewbox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M26 29.45C26 19.3858 33.4577 8.86747 45.2297 6.16443C45.6793 6.0612 46.1364 6.29467 46.3301 6.71327L47.5161 9.27572C47.7602 9.80299 47.5031 10.4238 46.9877 10.692C43.3044 12.608 40.1644 17.1966 39.3647 20.8059C39.2493 21.3268 39.6241 21.8042 40.1413 21.9351C44.6581 23.0784 48 27.1681 48 32.042C48 38.406 42.832 42 37.602 42C31.572 42 26 37.39 26 29.45ZM0 29.45C0 19.3858 7.45772 8.86747 19.2297 6.16443C19.6793 6.0612 20.1364 6.29467 20.3301 6.71327L21.5161 9.27572C21.7602 9.80299 21.5031 10.4238 20.9877 10.692C17.3044 12.608 14.1644 17.1966 13.3647 20.8059C13.2493 21.3268 13.6241 21.8042 14.1413 21.9351C18.6581 23.0784 22 27.1681 22 32.042C22 38.406 16.832 42 11.602 42C5.572 42 0 37.39 0 29.45Z"
                fill="#dfab82"
              ></path>
            </svg>
          </span>

          <h2
            class="mb-10 text-2xl italic font-light leading-none font-heading text-purple-650">
            Super greenhouse gases
          </h2>

          <p class="flex mx-auto mb-10 text-lg text-purple-650">
            We release super greenhouse gases into the atmosphere, pollute the
            planet and destroy habitats when we
          </p>

          <ul class="flex flex-wrap justify-center max-w-md space-y-4">
            <li class="ml-4 text-lg font-bold list-none text-purple-650">
              mine for minerals;
            </li>
            <li class="ml-4 text-lg font-bold list-none text-purple-650">
              manufacture, purchase, or sell electronics and electricals; and
            </li>
            <li class="ml-4 text-lg font-bold list-none text-purple-650">
              discard electronic waste.
            </li>
          </ul>

          <p class="mt-10 text-lg text-purple-650">
            Better management of electronics and electricals can minimize our
            contribution to greenhouse gas emissions (Scope 3), biodiversity
            loss and pollution.
          </p>

          <p class="mt-10 text-lg text-purple-650">
            Whether you work for a company, government, non-profit,
            manufacturer, retailer or in waste management, MobiCycle can help
            you lessen the damage your electronic and electrical equipment has
            on the environment at each point in your supply chain; from source
            to disposal.
          </p>

          <ButtonH />
        </div>
      </div>
    </div>
  </div>
</section>
