---

---
<div class="spacer white hide"></div>
<div class="section orange2 wf-section">
  <div class="container w-container">
    <div class="columns w-row">
      <div class="w-col w-col-3">
        <div data-w-id="b1c6e618-9f72-9efb-91e5-5bc05a6af693" style="opacity:0" class="who-should-grab-h-wrap">
          <p class="paragraph-max-402">We can be forgiven for thinking of electronic waste as <em>digital</em> waste as opposed to a physical product.</p>
          <h3 data-w-id="b1c6e618-9f72-9efb-91e5-5bc05a6af699" style="opacity:0" class="mobicycle ebgaramond purple _3em center">eWaste or electronic waste</h3>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div data-w-id="5ffe5380-0e66-eebb-5c63-cf4e0db3ade3" style="opacity:0" class="w-layout-grid ewaste _1">
          <div data-w-id="b1c6e618-9f72-9efb-91e5-5bc05a6af6b1" style="opacity:0" class="no-color w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/6a80a1a9-aeb6-4970-ef3c-ec0d9ec1dd00/public" alt="logo" width="100%" height="200vw"></div>
          <h4 class="title">A critical resource</h4>
          <p class="paragraph ewaste muli">Abandoned electronics contain precious metals. By some estimates, $62.5 billion-worth of value exists in discarded electronic items worldwide.</p>
        </div>
        <div data-w-id="501d4615-849b-f467-abbf-314f37bbae46" style="opacity:0" class="w-layout-grid ewaste _3">
          <div class="no-color w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/2fd53f9e-3864-4d91-ca1d-36ec2a536100/public" alt="logo" width="100%" height="200vw"></div>
          <h4 class="title">Unwanted</h4>
          <p class="paragraph ewaste muli">The term &#x27;eWaste&#x27; refers to products that are unwanted, not working, and nearing or at the end of their <strong><em>useful</em></strong> life.</p>
        </div>
      </div>
      <div class="w-col w-col-5">
        <div data-w-id="c7c37d70-5025-22c3-75de-6974ce0407dc" style="opacity:0" class="w-layout-grid ewaste _2">
          <div class="no-color w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/8385ce97-713b-4ecc-6a15-18f4f2c5a800/public" alt="logo" width="100%" height="200vh"></div>
          <h4 class="title">A pollutant</h4>
          <p class="paragraph ewaste muli">As the world&#x27;s fastest growing waste stream, improperly discarded ewaste pollutes our air, soil, and water.</p>
        </div>
      </div>
    </div>
  </div>
</div>
