---

---

<div class="spacer white hide"></div>
<div id="chapters" class="section orange wf-section">
  <div class="container _10vh-bottom w-container">
    <div class="platform-approach">
      <div id="w-node-_85f512c8-b812-5b90-f306-2d99258213d1-420da0e1" class="platform-approach-div muli">
        <div class="platform-approach-paragraph">
          <p class="paragraph muli">MobiCycle&#x27;s unique proposition to companies, governments, non-profits, manufacturers, retailers - and even waste management companies, is a &#x27;one stop shop&#x27; for managing electronic waste.<br></p>
        </div>
        <div class="platform-approach-paragraph">
          <p class="paragraph muli">The complexity of eWaste, along with its impact on climate change, mean it can not simply be managed with ad hoc solutions.<br></p>
        </div>
        <div class="platform-approach-paragraph">
          <p class="paragraph muli">New electronics and electricals contribute to climate change. The manufacturing process creates extremely potent greenhouse gases such as SF6s and NF3s. These gases are much more damaging to the environment than carbon dioxide.<br></p>
        </div>
        <div class="platform-approach-paragraph">
          <p class="paragraph muli">Electronic waste degrades the natural defenses within our environment. When improperly treated, eWaste pollutes our air, soil and waterways. A weakened ecosystem has a negative impact on biodiversity. We need these defenses to fight climate change. <br></p>
        </div>
      </div>
      <div class="platform-image">
        <div data-w-id="f00d8069-b87d-aebb-09d6-69b2a4234351" style="opacity:0.38;filter:blur(5px)" class="html-embed-13 w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/dbc4b5c8-6705-41a1-00c6-e026e5ef6b00/public" alt="beach" width="333" height="auto"></div>
      </div>
    </div>
  </div>
</div>