---
import Button from "../Buttons/Button.astro"
---

<!-- SECTION D -->
<section class="container mx-auto px-8 opacity-100 border-transparent rounded-lg">
  <div class="">
    <div class="flex flex-wrap justify-center pb-0">
      <!-- TITLE -->
      <div class="flex flex-wrap justify-center text-4xl text-center text-white-650 hover:text-orange-650 pb-10">
        Get Started
      </div>

      <!-- ONE -->
      <div class="flex flex-wrap py-10 -mx-4 -mb-4 duration-1000 delay-300 border-t border-orange-650 md:mb-0 animate-in fade-in text-slate-650">
        <!-- IMAGE -->
        <div class="w-full px-4 mb-4 md:w-1/4 md:mb-0">
          <div class="container scale-50 w-fit grayscale">
            <img
              src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/1e2abe4d-6056-4fbb-2592-cbabe70a1c00/300"
            />
          </div>
        </div>
        <!-- CONTENT -->
        <div class="w-full px-4 mb-4 text-inherit border border-orange-650 rounded-lg md:w-3/4 md:mb-0 hover:bg-white-650 opacity-100 p-8 text-purple-650">
          <h1 class="mb-6 text-xl md:text-3xl bg-white-650 opacity-100 border-transparent shadow-md rounded-md p-4">Learn more about MobiCycle</h1>
          <p class="p-4">
            Learn about MobiCycle&#x27;s approach to climate change. Visit our <a
              href="https://about.mobicycle.us"
              class="italic hover:bg-black hover:p-4"
              >About us,</a> frequently asked questions, our industry papers, white paper and checklist pages.
          </p>
        </div>
      </div>

      <!-- TWO -->
      <div class="flex flex-wrap py-10 -mx-4 -mb-4 duration-1000 delay-300 border-t border-orange-650 md:mb-0 animate-in fade-in">
        <!-- IMAGE -->
        <div class="w-full px-4 mb-4 md:w-1/4 md:mb-0">
          <div class="container scale-50 w-fit grayscale">
            <img
              src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/0aeb4d74-bd20-45c6-1385-b82252136100/300"
            />
          </div>
        </div>
        <!-- CONTENT -->
        <div class="w-full px-4 mb-4 text-inherit border border-orange-650 rounded-lg md:w-3/4 md:mb-0 hover:bg-white-650 opacity-100 p-8 text-purple-650">
          <h1 class="mb-6 text-xl md:text-3xl bg-white-650 opacity-100 border-transparent shadow-md rounded-md p-4">Explore our range of solutions</h1>
          <p class="p-4">
            Discover and try our products and services. View Pricing
            information. Take a closer look at our four specialized areas:
            Consulting, Tech, Games, and Marketing, to understand how each can
            contribute to your sustainability goals.
          </p>
        </div>
      </div>

      <!-- THREE -->
      <div class="flex flex-wrap py-10 -mx-4 -mb-4 duration-1000 delay-300 border-t border-orange-650 md:mb-0 animate-in fade-in">
        <!-- IMAGE -->
        <div class="w-full px-4 mb-4 md:w-1/4 md:mb-0">
          <div class="container scale-50 w-fit grayscale">
            <img
              src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/bd804601-c41a-46b6-7782-9756c1835500/300"
            />
          </div>
        </div>
        <!-- CONTENT -->
        <div class="w-full px-4 mb-4 text-inherit border border-orange-650 rounded-lg md:w-3/4 md:mb-0 hover:bg-white-650 opacity-100 p-8 text-purple-650">
          <h1 class="mb-6 text-xl md:text-3xl bg-white-650 opacity-100 border-transparent shadow-md rounded-md p-4">Experience the platform firsthand</h1>
          <p class="p-4">
            Take advantage of our public demos, where you can get hands-on
            experience with our digital solutions. If you prefer a more tailored
            experience, our sales team can arrange a private demo specifically
            tailored to meet your unique requirements.
          </p>
        </div>
      </div>

      <!-- FOUR -->
      <div class="flex flex-wrap py-10 -mx-4 -mb-4 duration-1000 delay-300 border-t border-orange-650 md:mb-0 animate-in fade-in">
        <!-- IMAGE -->
        <div class="w-full px-4 mb-4 md:w-1/4 md:mb-0">
          <div class="container scale-50 w-fit grayscale">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/4867b89e-98dd-4b14-679b-38e89b634700/300"/>
          </div>
        </div>
        <!-- CONTENT -->
        <div
          class="w-full px-4 mb-4 text-inherit border border-orange-650 rounded-lg md:w-3/4 md:mb-0 hover:bg-white-650 opacity-100 p-8 text-purple-650">
          <h1 class="mb-6 text-xl md:text-3xl bg-white-650 opacity-100 border-transparent shadow-md rounded-md p-4">Get in touch with us</h1>
          <p class="p-4">
            Our dedicated sales, technical support, and customer service teams
            are available online during office hours to assist you. Feel free to
            reach out to us for any inquiries or assistance you may need.
          </p>
        </div>
      </div>
    </div>

    <Button />
  </div>
</section>
