---
// frontend/src/components/Body/Memberships.astro
---

<div class="flex flex-wrap space-x-8 lg:space-x-0 pb-8 md:p-0 lg:justify-end">
	<!-- WBENC -->
	<div class="h-auto md:h-auto max-w-32 lg:w-60 md:max-w-40 md:px-4 sm:px-0">
		<a href="https://www.wbenc.org">
			<img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/6c2f5564-a263-4c26-dd71-42d8a3176900/510" alt="WBENC Logo" />
		</a>
	</div>
	<!-- WOMEN OWNED -->
	<div class="h-auto md:h-auto max-w-32 lg:w-60 md:max-w-40 md:px-4 sm:px-0">
		<a href="https://www.wbenc.org">
			<img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/122e5cd5-0d65-456b-abba-e318c003af00/510" alt="WBENC Logo" />
		</a>
	</div>
	<!-- BLACK DIRECTORY 
	<div class="flex w-24 pt-4">
		<a href="https://www.blackdirectory.com/cheyenne/information-technology/mobicycle?from=badge" title="Find us on the Black Directory" target="_blank"><img src="https://www.blackdirectory.com/images/memberbadge.png" border="0" width="" /></a>
	</div>-->
	<!-- US CHAMBER OF COMMERCE
	<div class="flex w-44">
		<a href="https://www.uschamber.com" target="_blank"><img alt="U.S. Chamber of Commerce Member" src="https://www.uschamber.com/assets/images/USCC_Webstickers_2022_234x75.png" title="U.S. Chamber of Commerce Member" width=""/></a>
	</div> -->
	<!-- SAP ARIBA 
	<div class="flex w-52">
		<a href="https://discovery.ariba.com/profile/AN01556941194" target="_blank">
			<img alt="View MobiCycle profile on SAP Business Network Discovery" border="0" height="" src="https://service.ariba.com/an/p/Ariba/badge_180x55.jpg" />
		</a>
	</div>-->
</div>
