---
// frontend/src/components/Body/Memberships.astro
---

<!-- SECTION  -->
<section>
	<div class="grid grid-flow-col mx-auto gap-8 py-2">
		<!-- WBENC -->
		<div class="h-auto w-32 xl:w-60 lg:max-w-40 xl:px-4">
			<a href="https://www.wbenc.org">
				<img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/6c2f5564-a263-4c26-dd71-42d8a3176900/510" alt="WBENC Logo" />
			</a>
		</div>
		<!-- WOMEN OWNED -->
		<div class="h-auto md:h-auto w-32 xl:w-60 lg:max-w-40 xl:px-4">
			<a href="https://www.wbenc.org">
				<img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/122e5cd5-0d65-456b-abba-e318c003af00/510" alt="WBENC Logo" />
			</a>
		</div>
	</div>
</section>


