---
import SectionA from "./ArchiveOne.astro";
import SectionB from "./ArchiveTwo.astro";
import SectionC from "./One.astro";
import SectionD from "./Three.astro";
import SectionE from "./Five.astro";
import SectionF from "./Two.astro";
import SectionG from "./Newsletter.astro";
---
<div class="bg-white space-y-0 md:space-y-18">

<SectionC/>    
<SectionF/>
<SectionE/>
<SectionD/>
<SectionG/>
</div>
