---

---

<div data-w-id="aa8af7d1-097f-c528-9f30-b728de46cd0f" class="mobicycle-head">
<div class="scope-3">
    <div class="sub-heading mobile">MobiCycle</div>
    <h2 class="home-title mobile">Scope 3 emissions management for electronics &amp; electricals</h2>
  </div>
  <div data-w-id="aa8af7d1-097f-c528-9f30-b728de46cd10" class="parallax sky"></div>
  <div data-w-id="aa8af7d1-097f-c528-9f30-b728de46cd11" class="parallax mountains"></div>
  <div data-w-id="aa8af7d1-097f-c528-9f30-b728de46cd12" class="parallax hill"></div>
  <div data-w-id="aa8af7d1-097f-c528-9f30-b728de46cd13" class="parallax forrest"></div>
</div>
<div data-w-id="bb3e46c7-3f9a-31b2-d8f1-0349f268104a" class="track wf-section">
  <div class="camera">
    <div class="background-pic-div">
      <div class="background-pic w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/fa0f4cc3-381d-4d42-b35f-1c5b47bea700/800"></div>
    </div>
    <div class="frame">
      <div class="item">
        <div class="panel-1">
          <div class="does-mobicycle-div">
            <h3 class="does-mobicycle">Do you struggle with</h3>
            <h3 id="contact" class="handle-or-process _3">scope 3 reporting?</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="panel-2">
          <div scroll-snap-align="start" class="embed-electronics w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/eac47494-c00a-4c84-326c-05c27cb48e00/1600" height="100%"></div>
          <h3 data-w-id="0233006f-e04b-9243-2d11-bb4bbfd4452d" style="opacity:0" class="not-at-all">We can help.</h3>
        </div>
      </div>
      <div class="item">
        <div class="panel-3">
          <h3 class="we-innovate">We innovate to sustainably manage electronic and electrical equipment.</h3>
        </div>
      </div>
      <div class="item relative">
        <div class="panel-4">
          <div class="html-embed-22 w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/f24566cd-df42-46eb-8906-edbb7b4a7000/1440"></div>
          <h3 class="les-dechets">Electronic waste is the fastest growing waste stream in the world. We pollute the planet and destroy habitats when we throw away electronics. We release &quot;super&quot; greenhouse gases into the atmosphere when we mine for minerals and manufacture products.  <br>‍<br>Better management can minimize our contribution to greenhouse gas emissions (Scope 3), biodiversity loss and pollution - as it relates to the electronics and electricals (EE) we may purchase, sell and discard.</h3>
        </div>
      </div>
      <div class="item purple">
        <div class="panel-5">
          <div class="w-layout-grid mobicycle-grid">
            <div class="hero-div-2">
              <div class="w-layout-grid hero-grid-2">
                <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b02-420da0e1" class="hero-content-2">
                  <div class="label-2">an intermediary you can trust</div>
                  <div class="hero-words-wrap">
                    <h1 class="mobicycle-heading">MobiCycle<br></h1>
                  </div>
                  <p class="hero-paragraph white">one platform to manage electronics &amp; reduce waste</p>
                  <div class="buttons-div">
                    <div class="w-layout-grid fancy-buttons-2">
                      <a href="https://platform.mobicycle.group" id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b0d-420da0e1" class="platform-button-2 w-inline-block">
                        <div class="the-platform-button-2">The Platform</div>
                        <div class="button-overlay"></div>
                      </a>
                      <a href="https://demo-warning.mobicycle.group" id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b11-420da0e1" data-w-id="2a60f71a-bef2-f602-46d0-36f202213b11" class="button-transparent _30-margin-top w-inline-block">
                        <div class="button-line-div-2">
                          <div class="paragraph-2 orange">Try the demo</div>
                          <div style="width:20%" class="button-line"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b16-420da0e1" class="mobicycle-image-div">
                  <div class="w-layout-grid login-button tablet">
                    <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b18-420da0e1" class="login-button-div-2">
                      <a href="https://mobicycle.consulting" class="options-button-2 w-button">consulting</a>
                    </div>
                    <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b1b-420da0e1" class="login-button-div-2">
                      <a href="https://mobicycle.tech" class="options-button-2 w-button">TECH</a>
                    </div>
                    <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b1e-420da0e1" class="login-button-div-2">
                      <a href="https://mobicycle.games" class="options-button-2 w-button">games</a>
                    </div>
                    <div id="w-node-_2a60f71a-bef2-f602-46d0-36f202213b21-420da0e1" class="login-button-div-2">
                      <a href="https://mobicycle.marketing" class="options-button-2 w-button">marketing</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="w-node-_48437e09-a9e0-9f5d-7be7-9b2377342719-420da0e1" class="_154-mouse-wrapper">
              <div class="_154-mouse">
                <div data-w-id="48437e09-a9e0-9f5d-7be7-9b237734271b" class="_154-circle"></div>
              </div>
              <div class="_154-scroll-text">SCROLL</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>