---

---

<div data-w-id="8391ff0b-a6b3-f929-4ae4-6d3b7f26f1f4" class="get-started-section wf-section">
    <div class="container _10vh-bottom">
      <div class="max-w-flex">
        <div class="max-width-page">
          <h3 style="-webkit-transform:translate3d(0, 20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(20deg, 0);-moz-transform:translate3d(0, 20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(20deg, 0);-ms-transform:translate3d(0, 20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(20deg, 0);transform:translate3d(0, 20%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(20deg, 0);opacity:0" class="display-2">Get <span class="other-font italic">Started</span></h3>
        </div>
      </div>
      <div class="margin-80px make-40px">
        <div class="process-wrapper">
          <div class="process-content">
            <div class="process-grid">
              <div class="process-part-1">
                <div class="process-line">
                  <div class="process-overlay"></div>
                </div>
                <div class="process-image">
                  <div class="get-started-image w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/0aeb4d74-bd20-45c6-1385-b82252136100/300"></div>
                </div>
              </div>
              <div class="process-part-2">
                <div>
                  <h1 class="process-title">Get to know us</h1>
                  <div class="margin-20px">
                    <p class="paragraph-3">Learn about MobiCycle&#x27;s approach to climate change. Visit our <em>About us</em> page, frequently asked questions, our industry papers, white paper and checklist.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="process-content no-top">
            <div class="process-grid">
              <div class="process-part-1">
                <div class="process-line">
                  <div class="process-overlay"></div>
                </div>
                <div class="process-image">
                  <div class="get-started-image w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/1e2abe4d-6056-4fbb-2592-cbabe70a1c00/300"></div>
                </div>
              </div>
              <div class="process-part-2">
                <div>
                  <h1 class="process-title">Explore possible solutions</h1>
                  <div class="margin-20px">
                    <p>Discover and try our products and services. View Pricing information. Review the four sites: Consulting, Tech, Games and Marketing. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="process-content no-top">
            <div class="process-grid">
              <div class="process-part-1">
                <div class="process-line">
                  <div class="process-overlay"></div>
                </div>
                <div class="process-image">
                  <div class="get-started-image w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/bd804601-c41a-46b6-7782-9756c1835500/300"></div>
                </div>
              </div>
              <div class="process-part-2">
                <div>
                  <h1 class="process-title">Try before you buy</h1>
                  <div class="margin-20px">
                    <p>Try public demos of our digital solutions. Speak to sales to schedule a private demo tailored to your requirements.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- -->
          <div class="process-content no-top">
            <div class="process-grid">
              <div class="process-part-1">
                <div class="process-line">
                  <div class="process-overlay"></div>
                </div>
                <div class="process-image">
                  <div class="get-started-image w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/86e708d2-4697-4e85-1135-123114cf6a00/300"></div>
                </div>
              </div>
              <div class="process-part-2">
                <div>
                  <h1 class="process-title">Get in touch</h1>
                  <div class="margin-20px">
                    <p class="paragraph-4">Our sales, technical support and customer service teams are available online during office hours.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- -->
        <div data-w-id="d4de4813-8433-d07d-42c1-e1a7629ef34a" class="w-layout-grid platform-grid">
          <div id="w-node-_3ac345e6-75da-dac9-7c21-8c0c7ad5a7a4-420da0e1" class="order-after-chapter">
            <a href="mobicycle-climate-change.html" target="_blank" class="button inverted w-inline-block">
              <div class="button-overlay"></div>
              <div class="button-text">White paper</div>
            </a>
          </div>
          <div id="w-node-f7642668-f23a-8235-d7dd-98e5da437122-420da0e1" class="underline-div">
            <a href="mobicycle-faqs.html" target="_blank" class="delete inverted-2 _30-top-margin w-inline-block">
              <div class="capabilities">Frequently Asked Questions</div>
              <div class="line-faq purple"></div>
            </a>
          </div>
          <div class="chapter-brakedown-wrap">
            <h3>Get Inspired</h3>
            <p>Our growing appetite for electrical and electronic products, combined with rapid innovation and ever-shorter product lifespans require new processes and thinking. MobiCycle can share best practices with your organization.<br></p>
            <h3>Reduce carbon emissions<br></h3>
            <p>Your organization can help reduce GHG emissions and prevent hazards to health and the environment in accordance with the Basel, Rotterdam, and Stockholm Conventions</p>
            <h3>Supercharge your supply chain<br></h3>
            <p>Electronic waste pollutes our environment, harms human health, and contributes to climate change. Best in class recycling programs encourage supply chains that decouple economic development from environmental degradation.</p>
            <h3 class="heading-3">Gain insight from your data<br></h3>
            <p>Data analysis can help you set reasonable (new) ewaste remediation targets and identify the highest impact mitigation measures.</p>
            <a href="#" class="see-all-chapters-trigger w-inline-block">
              <div>See more</div>
              <div class="close">Close all chapters</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>