---
import Nav from "../../Nav/Nav.astro";
import Header from "../Header/Header.astro";
---
<div class="space-y-20">
	<div class="z-10 flex flex-wrap w-full px-8 sm:px-2 bg-gradient-to-b from-transparent to-purple-650 dark:bg-transparent">
		<Nav />
	</div>

	<!-- MOBILE -->
	<div class="flex md:hidden container mx-auto px-4 pt-20 lg:pt-32 pb-24 bg-gradient-to-l from-yellow-650 border-transparent rounded-lg dark:bg-transparent-650 dark:from-transparent-650">
		<!-- LEFT -->
		<div class="flex md:w-full ml-36 md:justify-start z-0">
			<Header/>
		</div>
	</div>

	<!-- DESKTOP -->
	<div class="hidden md:flex container mx-auto px-4 pt-10 pb-20">
		<!-- LEFT -->
		<div class="flex md:w-full ml-36 z-0">
			<Header/>
		</div>
	</div>
</div>
