---

---

<div class="w-screen pt-4">
    <div class="flex flex-col space-y-8 px-4 pb-10 pt-4 rounded lg:bg-slate-900">
    <a href="https://about.mobicycle.group" class="flex text-slate-200 w-fit p-2 mx-0 lg:mx-3 hover:text-orange-650 hover:border border-orange-650 md:text-right">
        About</a>
    <a href="https://mobicycle.consulting" class="flex w-fit text-slate-200 p-2 mx-0 lg:mx-3 hover:text-orange-650 hover:border border-orange-650">
        Consulting</a>
    <a href="https://mobicycle.tech" class="flex w-fit text-slate-200 p-2 mx-0 lg:mx-3 hover:text-orange-650 hover:border border-orange-650">
        Technologies</a>
    <a href="https://mobicycle.games" class="flex w-fit text-slate-200 p-2 mx-0 lg:mx-3 hover:text-orange-650 hover:border border-orange-650">
        Games</a>
    <a href="https://mobicycle.marketing" class="flex w-fit text-slate-200 p-2 mx-0 lg:mx-3 hover:text-orange-650 hover:border border-orange-650">
        Marketing</a>
</div>
</div>
