---
// frontend/src/components/Nav/Burger.astro
---

<div class="relative z-50">
    <div id="menuToggle" class="flex items-center justify-center border-4 border-orange-650 cursor-pointer sm:w-14 sm:h-14 bg-gradient-to-r from-orange-650 to-purple-650 hover:bg-purple-650">
        <!-- THE THREE LINES (initially visible) -->
        <svg id="openIcon" class="w-10 h-10 text-yellow-650 hover:text-slate-100" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>

        <!-- THE 'X' (initially hidden) -->
        <svg id="closeIcon" class="w-10 h-10 text-slate-100 hover:text-slate-400 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </div>
</div>

