---
// frontend/src/components/Nav/Menu.astro
---

<div class="w-screen bg-slate-650">
	<div class="flex flex-col px-4 py-10 space-y-8 lg:bg-slate-900 text-white-650">
		<a href="https://about.mobicycle.us" class="flex p-2 mx-0 w-fit lg:mx-3 hover:text-orange-650 hover:border border-orange-650 md:text-right"> About MobiCycle USA</a>
		<a href="https://mobicycle.consulting" class="flex p-2 mx-0 w-fit  lg:mx-3 hover:text-orange-650 hover:border border-orange-650"> Consulting</a>
		<a href="https://mobicycle.tech" class="flex p-2 mx-0 w-fit  lg:mx-3 hover:text-orange-650 hover:border border-orange-650"> Technologies</a>
		<a href="https://mobicycle.marketing" class="flex p-2 mx-0 w-fit  lg:mx-3 hover:text-orange-650 hover:border border-orange-650"> Games</a>
		<a href="https://mobicycle.marketing" class="flex p-2 mx-0 w-fit  lg:mx-3 hover:text-orange-650 hover:border border-orange-650"> Marketing</a>
	</div>
</div>
