---
// /frontend/src/components/Nav/Nav.astro
import Burger from './Burger.astro';
import Menu from './Menu.astro';
import Demo from './Demo.astro';
import Logo200 from '../Logos/Logo_200.astro';
import Logo50 from '../Logos/Logo_50.astro';
---

<nav class="fixed right-10 select-none pb-20">
	<div class="relative text-right">
        <div class="hidden ml-8"><Logo200/></div>
        <div class="flex">
            <div class="flex container mx-auto pt-4 mr-6 invert dark:invert-0 md:invert-0 "><Logo50/></div>

            <!-- BURGER -->
            <button id="toggleButton" type="button" class="relative rounded-md mb-6 shadow-orange-650 md:pr-10">
                <Burger />
            </button>
        </div>

		<!-- MENU -->
		<div id="menuPanel" class="absolute -right-10 shadow-md rounded-t-lg bg-gray-900 lg:bg-transparent" style="display: none; opacity: 0; transition: opacity 1s ease-in-out;">
			<Menu />
			<Demo />
		</div>
	</div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const button = document.getElementById('toggleButton');
    const menu = document.getElementById('menuPanel');

    if (button && menu) {
        button.addEventListener('click', function (_event: MouseEvent) {
            const isClosed = menu.style.display === 'none';
            if (isClosed) {
                menu.style.display = 'block';
                setTimeout(() => {
                    if (menu) {
                        menu.style.opacity = '1';
                    }
                }, 10);
            } else {
                menu.style.opacity = '0';
                menu.addEventListener('transitionend', function handleTransitionEnd(_event: TransitionEvent) {
                    if (menu.style.opacity === '0') {
                        menu.style.display = 'none';
                        menu.removeEventListener('transitionend', handleTransitionEnd);
                    }
                });
            }
        });

        window.addEventListener('keydown', function (event: KeyboardEvent) {
            if (event.key === 'Escape' && menu.style.display === 'block') {
                menu.style.opacity = '0';
            }
        });

        window.addEventListener('click', function (event: MouseEvent) {
            if (menu.style.display === 'block' && !button.contains(event.target as Node) && !menu.contains(event.target as Node)) {
                menu.style.opacity = '0';
            }
        });
    }
});
</script>
