---
// /frontend/src/components/Nav/Nav.astro
import Burger from './Burger.astro';
import Menu from './Menu.astro';
import Demo from './Demo.astro';
import Logo200 from '../Logos/Logo_200.astro';
---

<!-- NAVIGATION BAR -->
<Logo200 />

<nav class="fixed select-none right-10">
	<div class="relative text-right">
		<!-- BURGER -->
		<button id="toggleButton" type="button" class="relative mb-6 rounded-md">
			<Burger />
		</button>

		<!-- MENU -->
		<div id="menuPanel" class="absolute z-10 bg-gray-900 rounded-t-lg shadow-md -right-10 lg:bg-transparent" style="display: none; opacity: 0; transition: opacity 1s ease-in-out;">
			<Menu />
			<Demo />
		</div>
	</div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function () {
    var button = document.getElementById('toggleButton');
    var menu = document.getElementById('menuPanel');

    // Ensure that button is not null before adding event listeners
    if (button !== null) {
        button.addEventListener('click', function () {
            // Check if menu is not null each time the button is clicked
            if (menu !== null) {
                var isClosed = menu.style.display === 'none';
                if (isClosed) {
                    menu.style.display = 'block';
                    setTimeout(() => {
                        // Recheck menu is not null after the timeout
                        if (menu !== null) {
                            menu.style.opacity = '1';
                        }
                    }, 10);
                } else {
                    menu.style.opacity = '0';
                    menu.addEventListener('transitionend', function hideMenu() {
                        // Check menu is not null inside the event listener
                        if (menu !== null && menu.style.opacity === '0') {
                            menu.style.display = 'none';
                            menu.removeEventListener('transitionend', hideMenu);
                        }
                    });
                }
            }
        });

        window.addEventListener('keydown', function (event) {
            if (event.key === 'Escape' && menu !== null && menu.style.display === 'block') {
                menu.style.opacity = '0';
            }
        });

		window.addEventListener('click', function (event) {
    // Ensure both 'menu' and 'button' are not null before accessing their properties
    if (button !== null && menu !== null && menu.style.display === 'block') {
        // Use 'contains' to check if the clicked target is outside both 'button' and 'menu'
        if (!button.contains(event.target as Node) && !menu.contains(event.target as Node)) {
            menu.style.opacity = '0';
        }
    }
});
    }
});

</script>
