---
import Menu from './Menu.astro';
import Demo from './Demo.astro';
import Logo50 from '../Logos/Logo_50.astro';
import Burger from './Burger.astro';
---

<!-- Navigation structure -->
<nav class="py-10 w-full text-slate-50">
    <div class="container px-4 mx-auto flex justify-between items-center">
        <div class="invert md:invert-0 dark:invert-0"><Logo50 /></div> <!-- Logo component -->
        <button class="navbar-burger">
            <Burger /> <!-- Burger icon component embedded -->
        </button>
    </div>

    <!-- Hidden menu that will toggle visibility -->
    <div class="navbar-menu fixed inset-0 transition-opacity duration-1000 opacity-0 invisible">
        <div class="navbar-backdrop fixed inset-0 bg-slate-800 opacity-75"></div>
        <nav class="relative flex flex-col w-full h-full overflow-y-auto">
            <!-- Close button is handled inside the Burger component now -->
            <div class=" mt-56 md:mt-40"><Menu /></div>
            <Demo />
        </nav>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const burgerButton = document.querySelector('.navbar-burger');
    const menu = document.querySelector('.navbar-menu');
    const openIcon = document.getElementById('openIcon');
    const closeIcon = document.getElementById('closeIcon');

    if (!burgerButton || !menu || !openIcon || !closeIcon) {
        console.error('One or more navigation elements are missing!');
        return;
    }

    burgerButton.addEventListener('click', function() {
        if (menu.classList.contains('invisible')) {
            // Open the menu
            menu.classList.remove('invisible', 'opacity-0');
            openIcon.classList.add('hidden');
            closeIcon.classList.remove('hidden');
        } else {
            // Close the menu
            menu.classList.add('opacity-0');
            menu.addEventListener('transitionend', () => {
                if (menu) { // Check if the menu is not null before accessing it
                    menu.classList.add('invisible');
                    openIcon.classList.remove('hidden');
                    closeIcon.classList.add('hidden');
                }
            }, { once: true });
        }
    });
});
</script>