---
import Burger from "./Burger.astro";
import Menu from "./Menu.astro";
import Demo from "./Demo.astro";
import Logo from "./Logo.astro";
---
<!-- NAVIGATION BAR -->

<Logo/>

<nav 
class="absolute right-0 select-none" 
:class="{'flex fixed': showMenu, 'hidden': !showMenu"> 

<div
    x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close()
            }

            this.$refs.button.focus()

            this.open = true
        },
        close(focusAfter) {
            if (! this.open) return

            this.open = false

            focusAfter && focusAfter.focus()
        }
    }"
    x-on:keydown.escape.prevent.stop="close($refs.button)"
    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
    x-id="['dropdown-button']"
    class="relative text-right"
>
    <!-- BURGER -->
    <button
        x-ref="button"
        x-on:click="toggle()"
        :aria-expanded="open"
        :aria-controls="$id('dropdown-button')"
        type="button"
        class="relative gap-2 px-5 rounded-md shadow-orange-650"
    >
        <Burger/>
    </button>

    <!-- MENU -->
    <div
        x-ref="panel"
        x-show="open"
        x-transition.origin.top.left
        x-on:click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        style="display: none;"
        class="absolute 
        z-10
        right-0 
        mt-4 
        shadow-md 
        rounded-t-lg 
        bg-gray-900 
        lg:bg-transparent"
    >
        <Menu/>
        <Demo/>
    </div>

    </div>
</nav>

  