---
import Head from "../components/Head/Head.astro";
import FAQs from '../components/FAQs.astro';
import Footer from "../components/Footer/Footer.astro";
---

<html lang="en">
    <div class="bg-purple-650">
    <Head/>
    <FAQs/>
    <Footer/>
</div>
</html>
