---
import FAQs from "../components/FAQs.astro";
import Head from "../components/Head/Head.astro";
import Nav from "../components/Body/Header/Nav/Nav.astro";
import Footer from "../components/Body/Footer/Footer.astro";
---

<html lang="en">
    <div class="bg-purple-650">
    <Head/>
        <div class="pt-14">
            <Nav/>
        </div>
    <FAQs/>
    <Footer/>
</div>
</html>
