---

---

<!-- ADDRESS AND COPYRIGHT -->
<div class="relative space-y-4">
    
    <!-- ADDRESS -->
    <div class="w-fit flex md:justify-between items-center mx-auto container space-x-4 lg:bg-gradient-to-l from-slate-800 md:px-3 border-transparent rounded-lg">
        <div class="text-sm sm:text-base text-slate-950 md:text-orange-650 dark:text-inherit">
        <p>1603 Capitol Ave. Suite 310 A223 Cheyenne, Wyoming 82001</p>
        </div>
        <div class="dark:text-inherit md:text-slate-400 sm:block"> | </div>
        <div class="text-sm sm:text-base text-slate-950 md:text-orange-650 dark:text-inherit">
        <p>Rue de la Presse, 4 - 1000 Bruxelles Belgium</p>
        </div>
    </div>
    
    <!-- COPYRIGHT -->   
    <div class="w-auto md:p-1">
        <p class="text-sm md:text-center dark:text-orange-650 text-inherit sm:text-base text-purple-650 md:text-slate-400">&copy; Copyright 2024. All rights reserved by MobiCycle LLC.</p>
    </div>
    </div>