---
// frontend/src/components/Footer/FooterMenu.astro
---

<!-- TECHNOLOGY -->
<div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">TECHNOLOGY</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650 hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://mobicycle.ai" target="_blank">EE Management</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://ewaste.tools" target="_blank">eWaste Management</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://mobicycle.tech" target="_blank">Technologies</a></li>
    </ul>
</div>
    
<!-- SERVICES -->
<div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">SERVICES</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-smpy " href="https://mobicycle.consulting" target="_blank">Consulting</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://mobicycle.games" target="_blank">Games</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://mobicycle.marketing" target="_blank">Marketing</a></li>
    </ul>
</div>

<!-- CARBON CREDITS -->
<div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">CREDITS</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://credits.mobicycle.group/tax" target="_blank">Tax</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://credits.mobicycle.group/carbon" target="_blank">Carbon</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://credits.mobicycle.group/biodiversity" target="_blank">Biodiversity</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://credits.mobicycle.group/pollution" target="_blank">Pollution</a></li>
    </ul>
</div>
    
<!-- COMPANY -->
<div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">COMPANY</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://about.mobicycle.group" target="_blank">About us</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://case-studies.mobicycle.group" target="_blank">Case studies</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://capabilities.mobicycle.group" target="_blank">Capabilities statements</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://careers.mobicycle.group" target="_blank">Careers</a></li>
    </ul>
</div>
    
<!-- LEGAL -->
<div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">LEGAL</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://disclaimer.mobicycle.group" target="_blank">Disclaimer</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://cookie-policy.mobicycle.group/" target="_blank">Cookies</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://privacy.mobicycle.group" target="_blank">Privacy</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://terms.mobicycle.group" target="_blank">Terms</a></li>
    </ul>
</div>
  