---
import Memberships from "../Body/Memberships.astro";
import Address from "./Address.astro";
import FooterMenu from "./FooterMenu.astro";
---

<!-- FOOTER -->
<section class="space-y-20 py-10 border-purple-650 rounded-3xl text-slate-950 md:text-slate-50 dark:text-slate-50">

  <!-- MEMBERSHIPS -->
  <div class="flex justify-end mx-auto md:pr-24 invert md:invert-0 dark:invert-0"><Memberships /></div>

  <!-- PLATFORM CONTENT -->      
  <div class="relative">
    <div class="flex mx-auto container md:justify-evenly">
      <div class="grid md:grid-flow-col space-y-6 md:space-y-0 gap-8 md:gap-40 z-100">
        <FooterMenu/>
       </div>
    </div>
  </div>

  <!-- ADDRESS AND COPYRIGHT -->
   <Address/>
   
</section>