---
import Memberships from "../Body/Memberships.astro";
import Logo50 from "../Logos/Logo_50.astro";
---

<!-- FOOTER -->
<section class="py-0 overflow-hidden">
    <div class="lg:px-10 pt-10 pb-6 rounded-3xl">
      <div class="flex flex-wrap items-center justify-between mb-10 -m-4"></div>
      <!-- LOGO -->
      <div class="w-full"><a class="inline-block" href="https://about.mobicycle.group"><Logo50/></a></div>
     

      <div class="py-10 mb-6 border-purple-650 rounded-3xl bg-gradient-to-b via-white-650 from-white-650 dark:from-slate-900">
        
        <!-- MEMBERSHIPS -->
        <div class="flex justify-end lg:ml-0 md:ml-4 mx-auto bg-gradient-to-r from-white-650 rounded-lg pt-6 pb-24 md:pt-0 md:pb-10 pr-4 dark:bg-transparent-650 dark:from-transparent-650 dark:invert"><Memberships /></div>
     
        <!-- CONTENT -->
        <div class="grid sm:grid-flow-col sm:grid-cols-4 text-slate-650 dark:text-white-650 px-4">
          <div class="w-auto p-4">
            <h3 class="font-bold text-inherit font-heading mb-7 font-display">TECHNOLOGY</h3>
            <ul>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://mobicycle.ai">EE Management</a></li>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://ewaste.tools">eWaste Management</a></li>

            </ul>
          </div>

          <div class="w-auto p-4">
            <h3 class="font-bold text-inherit font-heading mb-7 font-display">SERVICES</h3>
            <ul>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://mobicycle.consulting">Consulting</a></li>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://mobicycle.games">Games</a></li>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://mobicycle.marketing">Marketing</a></li>

            </ul>
          </div>

          <div class="w-auto p-4">
            <h3 class="font-bold text-inherit font-heading mb-7 font-display">COMPANY</h3>
            <ul>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://about.mobicycle.group">About us</a></li>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://case-studies.mobicycle.group">Case studies</a></li>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://capabilities.mobicycle.group">Capabilities statements</a></li>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://about.mobicycle.group">Careers</a></li>
            </ul>
          </div>

          <div class="w-auto p-4">
            <h3 class="font-bold text-inherit font-heading mb-7 font-display">LEGAL</h3>
            <ul>

              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://disclaimer.mobicycle.group">Disclaimer</a></li>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://cookie-policy.mobicycle.group/">Cookies</a></li>
              <li class="mb-4"><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://privacy.mobicycle.group">Privacy</a></li>
              <li><a class="inline-block font-light text-inherit hover:text-orange-650" href="https://terms.mobicycle.group">Terms</a></li>
            </ul>
          </div>

        </div>

      </div>

      <div class="flex flex-wrap items-center justify-center space-x-2 space-y-4 md:-m-1 sm:space-y-0 py-4 font-thin text-white-650 opacity-80 bg-slate-650 md:bg-gradient-to-t from-slate-650 border-purple-650 rounded-xl">
        <div class="max-w-xs text-sm text-center text-gray-400 sm:text-left sm:text-base sm:max-w-full"><p>1603 Capitol Ave. Suite 310 A223 Cheyenne, Wyoming 82001 </p></div>
        <div class="text-center text-transparent md:text-gray-400"> | </div>
        <div class="text-sm text-right text-gray-400 sm:text-base"> <p>Rue de la Presse, 4 - 1000 Bruxelles Belgium</p></div>
              
      <div class="w-auto p-1"><p class="text-sm text-center text-inherit sm:text-base">&copy; Copyright 2024. All rights reserved by MobiCycle LLC.</p></div>
      <div class="w-auto text-sm text-yellow-650"><h1></h1></div>
      </div>

    </div>
</section>
