---

---

<!-- TECHNOLOGY -->
<div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">TECHNOLOGY</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://mobicycle.ai">EE Management</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://ewaste.tools">eWaste Management</a></li>
    </ul>
    </div>
    
    <!-- SERVICES -->
    <div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">SERVICES</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-smpy " href="https://mobicycle.consulting">Consulting</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://mobicycle.games">Games</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://mobicycle.marketing">Marketing</a></li>
    </ul>
    </div>
    
    <!-- COMPANY -->
    <div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">COMPANY</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://about.mobicycle.group">About us</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://case-studies.mobicycle.group">Case studies</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://capabilities.mobicycle.group">Capabilities statements</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://careers.mobicycle.group">Careers</a></li>
    </ul>
    </div>
    
    <!-- LEGAL -->
    <div class="space-y-7">
    <h3 class="font-bold font-display text-orange-650 md:text-inherit">LEGAL</h3>
    <ul class="space-y-4">
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://disclaimer.mobicycle.group">Disclaimer</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://cookie-policy.mobicycle.group/">Cookies</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://privacy.mobicycle.group">Privacy</a></li>
        <li><a class="inline-block font-light hover:text-orange-650  hover:bg-slate-950 hover:text-bold hover:border-transparent hover:rounded-sm" href="https://terms.mobicycle.group">Terms</a></li>
    </ul>
    </div>
  