---
/* removed extra /div */
---

<!-- SECTION G -->
<div class="spacer white hide"></div>
<div class="section transparent wf-section"></div>

<div src="https://uploads-ssl.webflow.com/60e9bce420fd1658930da0db/60e9bce520fd1652830da11c_pexels-photo-212286.jpeg" class="section _7 wf-section">
    <div class="container _5vw">
        <div id="w-node-_30891864-d798-c91b-3f99-3015bc9b6f5d-bc9b6f5b" data-w-id="30891864-d798-c91b-3f99-3015bc9b6f5d" class="order-book-sideflex">
            <a href="https://mobicycle.news" target="_blank" class="button-7 inverted w-inline-block">
            <div class="button-text-3">MobiCycle News</div>
            <div class="button-overlay"></div>
            </a>
            <h4 class="heading-22">Subscribe for the latest developments in <br>Scope 3 emissions, electronics management and eWaste.</h4>
        </div>
    </div>
</div>
