---

---
<!-- SECTION C-->
<div class="spacer white hide"></div>
<div id="chapters" class="section orange wf-section">
  <div class="container _10vh-bottom w-container">
    <div class="platform-approach">
      <div id="w-node-_85f512c8-b812-5b90-f306-2d99258213d1-420da0e1" class="platform-approach-div muli">
        <div class="platform-approach-paragraph">
          <p class="paragraph muli">Do you work for a company, government, non-profit, manufacturer, retailer or in waste management? We help you sustainably manage electronics and electricals (EE).<br></p>
        </div>
        <div class="platform-approach-paragraph">
          <p class="paragraph muli"><i>Mining.</i> There's been much discussion on renewables as a way to curb global warming. Unless we reclaim the minerals used to power renewables, we will mine for them. The mining of critical minerals poisons groundwater and devastates local ecosystems. <br></p>
        </div>
        <div class="platform-approach-paragraph">
          <p class="paragraph muli"><i>Manufacturing. </i>The manufacturing process creates extremely potent greenhouse gases. SF6s and NF3s are much more damaging to the environment than CO2 or carbon dioxide.<br></p>
        </div>
        <div class="platform-approach-paragraph">
          <p class="paragraph muli"><i>Purchases and Sales.</i> The Paris Agreement set a goal to limit warming to below 1.5 degrees Celsius. This goal is no longer feasible, but the guidance remains in place. The Greenhouse Gas Protocol specifically asks you to track emissions from purchases and sales (of electronic and  electrical equipment).<br></p>
        </div>
        <div class="platform-approach-paragraph">
          <p class="paragraph muli"><i>Disposals. </i>Electronic waste is the fastest growing waste stream in the world.Electronic waste degrades the natural defenses within our environment. When improperly treated, eWaste pollutes our air, soil and waterways. A weakened ecosystem has a negative impact on biodiversity. We need these defenses to fight climate change.<br></p>
        </div>
      </div>
      <div class="platform-image">
        <div data-w-id="f00d8069-b87d-aebb-09d6-69b2a4234351" style="opacity:0.38;filter:blur(5px)" class="html-embed-13 w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/dbc4b5c8-6705-41a1-00c6-e026e5ef6b00/public" alt="beach" width="333" height="auto"></div>
      </div>
    </div>
  </div>
</div>