---

---
<div data-animation="default" data-collapse="all" data-duration="400" data-easing="ease" data-easing2="ease" data-doc-height="1" role="banner" class="navbar w-nav">
<div class="container-3 w-container">
    <a href="#" class="brand-3 w-nav-brand">
      <div class="logo w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/b5559dc3-d375-47cc-c889-df3c41382200/public"></div>
    </a>
    <nav role="navigation" class="nav-menu-2 w-nav-menu">
      <div class="w-layout-grid navbar-grid-areas">
        <div id="w-node-bde8c32b-266d-c770-ae68-7fd56ed459fa-420da0e1" class="menu">
          <a href="https://about.mobicycle.us" class="webpage">ABOUT</a>
          <a href="https://pricing.mobicycle.group" class="webpage">pricing</a>
          <a href="https://case-studies.mobicycle.group" class="webpage">case studies</a>
          <a href="https://capabilities.mobicycle.group" class="webpage">capabilities</a>
          <a href="https://mobicycle.support" class="webpage">contact us</a>
        </div>
        <div data-hover="false" data-delay="0" id="w-node-_08e15108-c762-653f-2b94-d8b99ac7631f-420da0e1" class="nav-dropdown w-dropdown">
          <nav class="nav-dropdown-toggle w-dropdown-toggle">
            <div class="nav-dropdown-icon software w-icon-dropdown-toggle"></div>
            <div class="x-ware"><strong class="x-ware-bold _20">SOFTWARE</strong></div>
          </nav>
          <nav class="nav-dropdown-list w-dropdown-list">
            <a href="https://demo.mobicycle.tech" class="dropdown-link w-nav-link">THE TECH DASHBOARD</a>
            <a href="https://ewaste.app" class="dropdown-link w-nav-link">ELECTRONIC ADVISOR</a>
            <a href="https://ewaste.directory" class="dropdown-link w-nav-link">EWASTE DIRECTORY</a>
            <a href="https://ewaste.media" class="dropdown-link w-nav-link">EWASTE X REALITY</a>
            <a href="https://ewaste.tools" class="dropdown-link w-nav-link">EWASTE STANDARDS TOOLS</a>
          </nav>
        </div>
        <div data-hover="false" data-delay="0" id="w-node-e3516332-6d82-9d15-16c9-f6636c4f7a09-420da0e1" class="nav-dropdown w-dropdown">
          <nav class="nav-dropdown-toggle w-dropdown-toggle">
            <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
            <div class="x-ware"><strong class="x-ware-bold">hardWARE</strong></div>
          </nav>
          <nav class="nav-dropdown-list w-dropdown-list">
            <a href="https://ewaste.network" class="dropdown-link w-nav-link">WHERE ARE WEEE?</a>
            <a href="https://bins.mobi" class="dropdown-link w-nav-link">mobibins</a>
          </nav>
        </div>
        <div data-hover="false" data-delay="0" id="w-node-df51df67-ccd9-b128-dc55-501f40385cec-420da0e1" class="nav-dropdown w-dropdown">
          <nav class="nav-dropdown-toggle w-dropdown-toggle">
            <div class="nav-dropdown-icon other w-icon-dropdown-toggle"></div>
            <div class="x-ware"><strong class="x-ware-bold">other</strong></div>
          </nav>
          <nav class="nav-dropdown-list w-dropdown-list">
            <a href="https://atapi.io" class="dropdown-link w-nav-link">atapi</a>
            <a href="https://mobicycle.games" class="dropdown-link w-nav-link">games</a>
          </nav>
        </div>
      </div>
      <div class="demo-block">
        <a href="https://demo-warning.mobicycle.group/" class="demos-button w-button">demos</a>
      </div>
    </nav>
    <div class="menu-button-6 w-nav-button">
      <div class="menu-icon w-icon-nav-menu"></div>
    </div>
  </div>
</div>