---
import PlusSVG from "./Body/SVG/plusSVG.astro";
import MinusSVG from "./Body/SVG/minusSVG.astro";
---
<!-- FAQs -->
<section class="py-24 text-gray-300">

  <!-- HEADER -->
  <div class="container px-4 mx-auto pb-32">
    <div class="max-w-2xl mx-auto text-center space-y-10">
      <h2 class="mb-4 text-orange-650 text-3xl md:text-4xl font-heading font-bold">Scope 3 emissions. Pollution. Biodiversity Loss.</h2>
      <p class="mb-6 text-lg md:text-xl font-heading font-medium text-orange-650">It's a lot to take in. We get it.</p>
      <a class="inline-block py-3 px-7 w-full md:w-auto text-lg leading-7 text-green-50 bg-purple-650 hover:bg-orange-650 font-medium text-center focus:ring-2 focus:ring-purple-650 focus:ring-opacity-50 border rounded-md shadow-white" href="https://mobicycle.support">Talk to Support</a>
    </div>
  </div>


  <!-- QUESTIONS -->
  <div class="max-w-4xl mx-auto space-y-10">

    <!-- QUESTION 1 -->
    <div x-data="{ active: 1 }" class="mx-auto max-w-3xl w-full min-h-[16rem] space-y-6">
      <div x-data="{
          id: 1,
          get expanded() {
              return this.active === this.id
          },
          set expanded(value) {
              this.active = value ? this.id : null
          },
      }" role="region" class="rounded-lg bg-gradient-to-r from-gray-700 shadow">
          <h2>
              <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between px-6 py-4 text-xl font-bold rounded-t-lg bg-gradient-to-r from-gray-200 shadow"
              >
                  <span class="text-purple-650 font-serif">How do I schedule a demo?</span>
                  <span x-show="expanded" aria-hidden="true" class="ml-4"> <PlusSVG/></span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"><MinusSVG/></span>
              </button>
          </h2>
  
          <div x-show="expanded" x-collapse>
              <div class="px-6 py-4 text-gray-200 max-w-full">
                Please contact <a href="https://mobicycle.support" class="text-orange-650 italic hover:not-italic hover:text-gray-300"> Sales </a>to schedule a private demo.
              </div>
          </div>
      </div>

      
      <!-- QUESTION 2 -->
      <div x-data="{
          id: 2,
          get expanded() {
              return this.active === this.id
          },
          set expanded(value) {
              this.active = value ? this.id : null
          },
      }" role="region" class="rounded-lg bg-gradient-to-r from-gray-700 shadow">
          <h2>
              <button
                  x-on:click="expanded = !expanded"
                  :aria-expanded="expanded"
                  class="flex w-full items-center justify-between px-6 py-4 text-xl font-bold rounded-t-lg bg-gradient-to-r from-gray-200 shadow"
              >
                  <span class="text-purple-650 font-serif">How do I reach Sales or Support?</span>
                  <span x-show="expanded" aria-hidden="true" class="ml-4"><PlusSVG/></span>
                  <span x-show="!expanded" aria-hidden="true" class="ml-4"><MinusSVG/></span>
              </button>
          </h2>
  
          <div x-show="expanded" x-collapse>
              <div class="px-6 py-4 text-gray-200 max-w-full">
                Please navigate to <a href="https://mobicycle.support" class="text-orange-650 italic hover:not-italic hover:text-gray-300"> MobiCycle Support</a> on https://mobicycle.support.
              </div>
          </div>
      </div>

      <!-- QUESTION 3 -->
      <div x-data="{
        id: 3,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }" role="region" class="rounded-lg bg-gradient-to-r from-gray-700 shadow">
        <h2>
            <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="flex w-full items-center justify-between px-6 py-4 text-xl font-bold rounded-t-lg bg-gradient-to-r from-gray-200 shadow"
            >
                <span class="text-purple-650 font-serif">Do you handle or collect waste?</span>
                <span x-show="expanded" aria-hidden="true" class="ml-4"><PlusSVG/></span>
                <span x-show="!expanded" aria-hidden="true" class="ml-4"><MinusSVG/></span>
            </button>
        </h2>

        <div x-show="expanded" x-collapse>
            <div class="px-6 py-4 text-gray-200 max-w-full">
              As a technology services provider, we prefer not to handle waste. We can offer you <a href="https://bins.mobi" class="text-orange-650 italic hover:not-italic hover:text-gray-300">specialty waste containers</a>.
            </div>
        </div>
    </div>

      <!-- QUESTION 4 -->
      <div x-data="{
        id: 4,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }" role="region" class="rounded-lg bg-gradient-to-r from-gray-700 shadow">
        <h2>
            <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="flex w-full items-center justify-between px-6 py-4 text-xl font-bold rounded-t-lg bg-gradient-to-r from-gray-200 shadow"
            >
                <span class="text-purple-650 font-serif">How much do your solutions cost?</span>
                <span x-show="expanded" aria-hidden="true" class="ml-4"><PlusSVG/></span>
                <span x-show="!expanded" aria-hidden="true" class="ml-4"><MinusSVG/></span>
            </button>
        </h2>

        <div x-show="expanded" x-collapse>
            <div class="px-6 py-4 text-gray-200 max-w-full">
                <a href="https://mobicycle.support" class="text-orange-650 italic hover:not-italic hover:text-gray-300">Pricing</a> information is available at <a href="https:/pricing.mobicycle.group">https://pricing.mobicycle.group</a>.
            </div>
        </div>
    </div>

      <!-- QUESTION 5 -->
      <div x-data="{
        id: 5,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }" role="region" class="rounded-lg bg-gradient-to-r from-gray-700 shadow">
        <h2>
            <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="flex w-full items-center justify-between px-6 py-4 text-xl font-bold rounded-t-lg bg-gradient-to-r from-gray-200 shadow"
            >
                <span class="text-purple-650 font-serif">What if I have trouble logging in?</span>
                <span x-show="expanded" aria-hidden="true" class="ml-4"><PlusSVG/></span>
                <span x-show="!expanded" aria-hidden="true" class="ml-4"><MinusSVG/></span>
            </button>
        </h2>

        <div x-show="expanded" x-collapse>
            <div class="px-6 py-4 text-gray-200 max-w-lg">
                Please contact <a href="https://mobicycle.support" class="text-orange-650 italic hover:not-italic hover:text-gray-300"> MobiCycle Support </a>.
            </div>
        </div>
    </div>

      <!-- QUESTION 6 -->
      <div x-data="{
        id: 6,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }" role="region" class="rounded-lg bg-gradient-to-r from-gray-700 shadow">
        <h2>
            <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="flex w-full items-center justify-between px-6 py-4 text-xl font-bold rounded-t-lg bg-gradient-to-r from-gray-200 shadow"
            >
                <span class="text-purple-650 font-serif">How do your calculations differ from others?</span>
                <span x-show="expanded" aria-hidden="true" class="ml-4"><PlusSVG/></span>
                <span x-show="!expanded" aria-hidden="true" class="ml-4"><MinusSVG/></span>
            </button>
        </h2>

        <div x-show="expanded" x-collapse>
            <div class="px-6 py-4 text-gray-200 max-w-full">
               We go beyond the Greenhouse Gas Protocol, Principal Adverse Indicators or a generic list of sustainability factors.
            </div>
        </div>
    </div>

      <!-- QUESTION 7 -->
      <div x-data="{
        id: 7,
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }" role="region" class="rounded-lg bg-gradient-to-r from-gray-700 shadow">
        <h2>
            <button
                x-on:click="expanded = !expanded"
                :aria-expanded="expanded"
                class="flex w-full items-center justify-between px-6 py-4 text-xl font-bold rounded-t-lg bg-gradient-to-r from-gray-200 shadow"
            >
                <span class="text-purple-650 font-serif">How does your methodology differ?</span>
                <span x-show="expanded" aria-hidden="true" class="ml-4"><PlusSVG/></span>
                <span x-show="!expanded" aria-hidden="true" class="ml-4"><MinusSVG/></span>
            </button>
        </h2>

        <div x-show="expanded" x-collapse>
            <div class="px-6 py-4 text-gray-200 max-w-full">
               We focus on supply chain emissions for electronics and electricals. We also account for environmental impacts due to biodiversity loss and pollution.
            </div>
        </div>
    </div>

</section>