---

---
<section class="py-20">
  <div class="container mx-auto px-4 space-y-20">

    <!-- CONTENT -->
    <div class="max-w-2xl mx-auto">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold">Dolor sit amet consectutar</span>
        <h2 class="mb-12 text-3xl lg:text-4xl font-bold font-heading text-purple-650">Climate change affects the weather</h2>
      </div>
      <div class="mb-12 text-center justify-center">
        <h3 class="mb-4 text-2xl font-bold font-heading">Maecenas aliquam felis dolor sit amet</h3>
        <p class="text-center text-gray-200 max-w-lg">
          <em class="italic-text-3">The Vice President and I have a responsibility to act with urgency and resolve when our nation faces clear and present danger. <br>And that&#x27;s what climate change is about. It is literally, not figuratively, a clear and present danger. <br>The health of our citizens and our communities is literally at stake.</em></p>
          <p class="text-center text-gray-200 max-w-lg py-10">~ US President Joseph R Biden in July 2022</p>

        <p class="text-gray-500 leading-loose">Climate change disrupts the Earth&#x27;s weather patterns in measurable ways. Forward looking organizations rely on environmental dashboards to track shifts in the <em>tropical rain belt</em>, as it moves further north and south of the equator. Sensible Executives know a failure to monitor and prepare for floods could result in extraordinary losses for their organizations and local communities. <br><br>Embedded within their ESG dashboards are machine learning algorithms. The code scans for patterns of increased moisture in our atmosphere, ever alert to signs of a build up of excess precipitation. (Changes in the earth&#x27;s orbit, or volcanic eruptions can also effect weather patterns.)</p>
      </div>
      <div>
        <h3 class="mb-4 text-2xl font-bold font-heading">Maecenas aliquam felis dolor sit amet</h3>
        <p class="text-gray-500 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo est eget consequat imperdiet. Suspendisse laoreet scelerisque lobortis. Mauris facilisis hendrerit nulla at vehicula. Suspendisse potenti. Ut in nulla a purus bibendum convallis. Suspendisse id nunc maximus, suscipit ante ac, vulputate massa. Sed ut nunc suscipit, bibendum arcu a, interdum elit. Nullam laoreet mollis dictum. Ut suscipit, magna at elementum iaculis, erat erat fermentum justo, sit amet ultrices enim leo sit amet purus. Nulla sed erat molestie, auctor mauris lobortis, iaculis justo.</p>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="max-w-2xl mx-auto">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold">Dolor sit amet consectutar</span>
        <h2 class="mb-12 text-3xl lg:text-4xl font-bold font-heading text-purple-650">Climate change affects the weather</h2>
      </div>
      <div class="mb-12">
        <h3 class="mb-4 text-2xl font-bold font-heading">Maecenas aliquam felis dolor sit amet</h3>
        <blockquote class="block-quote"><em class="italic-text-3">The Vice President and I have a responsibility to act with urgency and resolve when our nation faces clear and present danger. <br>And that&#x27;s what climate change is about. <br>It is literally, not figuratively, a clear and present danger. <br>The health of our citizens and our communities is literally at stake. <br><br></em><strong><em class="italic-text-3">~ US President Joseph R Biden in July 2022</em></strong></blockquote>
        <p class="text-gray-500 leading-loose">Climate change disrupts the Earth&#x27;s weather patterns in measurable ways. Forward looking organizations rely on environmental dashboards to track shifts in the <em>tropical rain belt</em>, as it moves further north and south of the equator. Sensible Executives know a failure to monitor and prepare for floods could result in extraordinary losses for their organizations and local communities. <br><br>Embedded within their ESG dashboards are machine learning algorithms. The code scans for patterns of increased moisture in our atmosphere, ever alert to signs of a build up of excess precipitation. (Changes in the earth&#x27;s orbit, or volcanic eruptions can also effect weather patterns.)</p>
      </div>
      <div>
        <h3 class="mb-4 text-2xl font-bold font-heading">Maecenas aliquam felis dolor sit amet</h3>
        <p class="text-gray-500 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo est eget consequat imperdiet. Suspendisse laoreet scelerisque lobortis. Mauris facilisis hendrerit nulla at vehicula. Suspendisse potenti. Ut in nulla a purus bibendum convallis. Suspendisse id nunc maximus, suscipit ante ac, vulputate massa. Sed ut nunc suscipit, bibendum arcu a, interdum elit. Nullam laoreet mollis dictum. Ut suscipit, magna at elementum iaculis, erat erat fermentum justo, sit amet ultrices enim leo sit amet purus. Nulla sed erat molestie, auctor mauris lobortis, iaculis justo.</p>
      </div>
    </div>
  </div>
</section>