---

---
<section class="py-20">
  <div class="container mx-auto px-4 space-y-40 prose  lg:prose-xl">

    <!-- CONTENT 1 -->
    <div class="max-w-4xl mx-auto">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">The basics</span>
        <h2 class="mb-12 text-3xl lg:text-4xl prose-headings: text-gray-300">Climate change affects the weather</h2>
      </div>
      <div class="mb-12">
        <p class="text-center text-gray-200 mx-20 leading-loose text-2xl italic">
          The Vice President and I have a responsibility to act with urgency and resolve when our nation faces clear and present danger. And that&#x27;s what climate change is about. It is literally, not figuratively, a clear and present danger. The health of our citizens and our communities is literally at stake.</p>

          <p class="text-center text-gray-200 pb-10 mx-20">~ US President Joseph R Biden (July 2022)</p>

        <p class="text-gray-300 leading-loose">
          Climate change disrupts the Earth&#x27;s weather patterns in measurable ways. Forward looking organizations rely on environmental dashboards to track shifts in the tropical rain belt, as it moves further north and south of the equator. Sensible Executives know a failure to monitor and prepare for floods could result in extraordinary losses for their organizations and local communities. </p>

        <p class="text-gray-300 leading-loose">     
          Embedded within their ESG dashboards are machine learning algorithms. The code scans for patterns of increased moisture in our atmosphere, ever alert to signs of a build up of excess precipitation. (Changes in the earth&#x27;s orbit, or volcanic eruptions can also effect weather patterns.)</p>
      </div>
    </div>

    <!-- CONTENT 2 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">co2 is just the beginning</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">Greenhouse gases</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          We say &#x27;greenhouse gases&#x27; when we really just mean &#x27;carbon dioxide&#x27;.  Although carbon dioxide (CO<sub>2</sub>) accounts for 75% of all GHGs, we ignore the other gases at our peril. Water vapor (H<sub>2</sub>O), methane (CH<sub>4</sub>), nitrous oxide (N<sub>2</sub>O), ozone (O<sub>3</sub>), chlorofluorocarbons (CFCs and HCFCs), hydrofluorocarbons (HFCs), perfluorocarbons (CF<sub>4</sub>, C<sub>2</sub>F<sub>6</sub>, etc.), sulfur hexafluoride (SF<sub>6</sub>), and nitrogen trifluoride (NF<sub>3</sub>) can live far longer in our atmosphere than CO<sub>2</sub>, and be thousands of times more potent. Known as super greenhouse gases, our use of electronic and electricals is directly responsible for their impact on our biosphere.<br></p>
        </div>
      </div>
  
    <!-- CONTENT 3 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">GHGS WARM THE PLANET</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">The duality of climate change</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          Higher levels of warming magnify climate impacts. Hardest hit are the poorest communities, representing 3.3 to 3.6 billion people across small islands, Africa, Central America, South America, South Asia; and, the Arctic. To escape the heatwaves and storms on land, bird species migrate to higher altitudes. Marine heatwaves, nutrient pollution, and the loss of oxygen send marine life deeper into the ocean.</p>

        <p class="text-gray-300 leading-loose">               
          Climate change is thus both weather disruption and global warming. Global warming occurs because greenhouse gases (GHGs) absorb and radiate heat energy. Gaseous temperatures can range of 176 to 192 degrees Fahrenheit (or 89 to 80 degrees C). Temperatures rise not only when heat is trapped in the atmosphere, as oil and gas companies burn hydrocarbons to create fossil fuels. Temperatures also rise because we make things to satisfy our need for growth and higher profits. And by &#x27;we&#x27;, we mean industry.</p>
        </div>
      </div>

    <!-- CONTENT 4 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">ELECTRONICS, ELECTRICALS AND CLIMATE CHANGE</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">Electronics run the world</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          Supply chains fuel industrial emissions. Upstream and downstream suppliers produce Scope 3 emissions. Scope 3 includes industrial pollutants such as petrochemicals, electronics and eWaste. Industrial emissions will rise both in absolute terms; and, in proportion to their overall GHG footprint - even as our dependency on fossil fuel declines.</p>

        <p class="text-gray-200 leading-loose">          
          The largest industrial buyer of oil and gas is the chemicals sector. Chemicals, not transportation, are the biggest contributor to industrial emissions. Known as petrochemicals, the refined petroleum feeds the electronics industry&#x27;s need for optical circuits, components, screens and the outer shell of our computers. Over the next decade, petrochemicals could account for 60% of oil demand. Despite the hype around climate policy, the decline in our demand for fossil fuels will likely be replaced by a concomitant rise in petrochemicals.</p>

        <p class="text-gray-200 leading-loose">
          GHGs related to electronics and electricals (EE) appear in a variety of industries and sectors. Often, they are extremely powerful. For example, nitrogen trifluoride (NF<sub>3</sub>), is an EE GHG used to manufacture flat-panel displays, photovoltaics, LEDs and other microelectronics. Compared to carbon dioxide, NF<sub>3</sub>&#x27;s emissions last much longer in the atmosphere and are 17,000 times more potent.</p>
        
        <p class="text-gray-200 leading-loose">
          EE GHGs can also be found at each stage of a device&#x27;s lifecycle. The EE lifecycle starts with the manufacture of an electronic or electrical; to either its subsequent incineration in the form of eWaste; or, to its abandonment in a landfill. Electronics manufacturing is set to increase exponentially as the global population increases. A rise in the middle class will mean more people can afford electronics. eWaste is already the world&#x27;s fastest growing waste stream.</p> 
        
        <p class="text-gray-200 leading-loose">
          To combat the inevitable rise in emissions due to industrials, petrochemicals and electronics and electricals, more organizations could incorporate GHG management systems. For example, the International Organization for Standardization created ISO14001, a voluntary standard to guide organizations on the implementation of generic environmental management systems (EMS). MobiCycle offers organizations a platform to manage Scope 3 (industrial) emissions for electronic and electrical equipment.</p>
      </div>
    </div>

    <!-- CONTENT 5 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">NET ZERO</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">Make it meaningful</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          Perhaps the most pressing questions CEO&#x27;s ask are, How can we calculate our contribution to climate change?or How can we grow without damaging the planet? andHow can we minimize our share of the burden in a fair and meaningful way?</p> 
        
        <p class="text-gray-200 leading-loose">          
          MobiCycle recommends you create an ESG strategy; and, report all greenhouse gas emissions across all Scopes and categories. Most CEOs choose a strategy of &#x27;ESG with Net Zero&#x27; - for carbon emissions only.</p> 
        
        <p class="text-gray-200 leading-loose">
          Net zero can be read as, &quot;We commit to reduce our Scope X emissions byY target date.&quot;</p> 
        
        <p class="text-gray-200 leading-loose">
          The <i>X</i> in Scope X emissions generally refers Scopes 1 and 2.  Scope 1 represents greenhouse gas emissions from your offices, facilities, or plants. Scope 2 means emissions from energy usage. Scope 1 and 2 emissions amount to about 20 to 30 percent of your carbon footprint.</p>  
        
        <p class="text-gray-200 leading-loose">
          In addition to Scopes 1 and 2, the X could also represent Scope 3. Scope 3 emissions are a catchall. They cover everything not in Scopes 1 and 2. In the US, only Apple and CVS Health apply net zero across Scopes 1, 2 and 3.</p> 
        
        <p class="text-gray-200 leading-loose">
          The <i>Y</i> in Y target date means the date by which you have achieved your emissions reduction plan. The most common target date is 2050, although some choose 2070 or 2040.</p> 
        
        <p class="text-gray-200 leading-loose">
          Net zero targets are set so far into the future, they are meaningless when held against the task before us. By the time 2050 rolls around, irreparable damage will have been done. Tipping points will have been reached.</p> 
        
        <p class="text-gray-200 leading-loose">
          A tipping point is an event that once started, continues regardless of what measures you take to try to stop it. An example of a tipping point is the release of methane gas into the atmosphere by melting permafrost. Another example is sea rise due to melting glaciers.</p>
        </div>
      </div>
   
    <!-- CONTENT 6 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">SCOPE 3 EMISSIONS REPORTING</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">Unappreciated and misunderstood</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          Most environmentally conscious consumers, however, are unfamiliar with the concept of Scope 1, 2 or 3 emissions. If they do not realize Scope 3 emissions represent up to 80 percent of an organization&#x27;s environmental impact, they probably do not know Scope 3 emissions are being excluded from net zero targets. It would be unfair to expect the public to know, particularly as the media does not discuss this simple truth.</p> 
        
        <p class="text-gray-200 leading-loose">
          A fair Scope 3 analysis will provide a decent understanding of where the majority of your issues lie. A thorough Scope 3 report will show you where to focus your energies.   Scope 3 has 15 categories, ranging from business travel to eWaste. We urge you to address Scope 3 emissions across all categories for two reasons.</p>
        
        <p class="text-gray-200 leading-loose">
          One, Scope 3 reporting should mean something. But it can&#x27;t if you address just one or two categories such as business travel.  To be fair, official guidance on how to calculate emissions has yet to be finalized for 10 or so Scope 3 categories. If guidance does not exist for a category, one option is to use science based targets to calculate the emissions. You may want to document your process if you choose this alternative.</p>
        
        <p class="text-gray-200 leading-loose">
          Two, an analysis across all categories allows for comparisons. Comparability across industry or sector promotes a culture of creativity and learning from our mistakes. What if you do not have the necessary data to calcuate all Scope 3 emissions? One option is to report the category as pending; and, explain what preparations are underway to enable you to complete the category assessment(s) in the near future.</p>

        <p class="text-gray-200 leading-loose">
          The largest funds are run by Blackrock and Vanguard. BlackRock is under pressure for reducing its climate activism. Blackrock voted to signal concern about climate action or disclosure at 234 companies, compared to 321 companies last year, and did not support the election of 176 directors for climate-related concerns, compared to 254 the prior year.</p>
      </div>
    </div>


    <!-- CONTENT 7 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">MOBICYCLE</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">What we offer</h2>
      </div>

      <div>
        <p class="text-gray-200 leading-loose">When you hire MobiCycle, you hire a specialist in electronics for Scope 3 emissions reporting.</p>

        <p class="text-gray-200 leading-loose">Earlier we asked you to report Scope 3 emissions. We now ask you to go one step further. We believe Scope 3 needs to be upgraded - albeit in line with the relevant regulatory frameworks. The ability of our biosphere to function is at stake. We need to broaden our ESG strategy - to connect the activities within our supply chains, to their impacts on local habitats, natural resources, local forests, regional population growth and urbanization.</p>

        <p class="text-gray-200 leading-loose">  
        MobiCycle will work with you to identify and quantify your supply chain&#x27;s Scope 3 emissions; its contributions to biodiversity loss; and, the amount and degree of pollution. Let&#x27;s work together to understand how:</p>

        <ul class="list">
          <li class="list-item text-gray-200">your electronic waste destroys particular habitats;</li>
          <li class="list-item text-gray-200">the critical minerals in your electronics poison our natural resources;</li>
          <li class="list-item text-gray-200">your electronics purchases contribute to deforestation to get to the minerals below; </li>
          <li class="list-item text-gray-200">population growth will increase the number of electronics you purchase or sell and eventually retire; and,</li>
          <li class="list-item text-gray-200">urbanization in the cities in which you have a presence leads to more eWaste.</li>
        </ul>

        <p class="text-gray-200 leading-loose">
          We recommend you repeat this process with other specialist consultancies. Specialists in other waste streams such as food waste can provide support. Your ESG generalist consultancy can then aggregate the specialist reports for top level reporting.</p>
          
        <p class="text-gray-200 leading-loose">
          You may ask why you would want to unearth such negative and/or potentially damaging information. Put simply, you can&#x27;t solve a problem that does not exist. And the problems we solve, need to go beyond emissions, to also consider biodiversity and pollution. </p>
          
        <p class="text-gray-200 leading-loose">
          Admittedly, to extend Scope 3 reporting beyond emissions would be unprecedented; particularly as we can not strictly define where our individual responsibility begins and ends. This problem is known as the hard problem of ESG. We can not simply draw a boundary around a given area of water, land or air. And yet, we bear witnesses to a trifecta of risks emerging from increasing emissions, biodiversity loss and pollution.  Now is the time to begin to estimate our direct impact on the people and places in which our supply chains operate. </p>
          
        <p class="text-gray-200 leading-loose">(Please note: current limitations mean we can only provide estimates and best guesses only at this point).</p>

      </div>
    </div>

    <!-- CONTENT 8 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">ESG CONSULTANTS</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">No such thing as an 'ESG' expert</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          Every person on the planet has a climate journey. From CEOs, to the consultants they hire. Too often, consultants obsess over the technical and procedural aspects of ESG reporting. Before we advise others, we should develop a profound sense of our personal philosophies on climate change and ESG. </p>

          <p class="text-gray-200 leading-loose">
          We need consultants to be clear about what they perceive the planet&#x27;s greatest threats to be; and, how they view your relationship to those threats. So, ask your consultant about their climate journey. Read their marketing literature or posts on social media. Listen to their podcasts.</p>

          <p class="text-gray-200 leading-loose">
          You deserve to know what trade offs they balance in their analysis, and the experts who influence their thinking. If you talk to an ESG consultant, and you have no idea where they stand on complex issues, you may have stumbled upon an individual who has yet to come to terms with the scale of the challenges before us.</p>

          <p class="text-gray-200 leading-loose">
          Put another way, if you gain little insight into their climate posture, you may have hired a generalist for work that requires a specialist.</p>

          <p class="text-gray-200 leading-loose">
          The generalist problem arose, in part, because we assume that a background in financial reporting or business intelligence provides the skills necessary to tackle climate change (reporting). Anyone with a background in reporting can qualify as an ESG expert.</p>

          <p class="text-gray-200 leading-loose">
          There is no such thing as an ESG expert. An E, S or G expert, yes, but an ESG expert is a mythical thing for two reasons.</p>

          <p class="text-gray-200 leading-loose">
          One, ESG expert definitions are internally inconsistent. For example, the &#x27;G&#x27; for governance is commonly defined as the number of women on a corporation&#x27;s board. Gender diversity is truly an &#x27;S&#x27; or social issue. Making gender diversity for executives about governance, sends the message that the most senior management are uncomfortable being associated with traditional diversity and inclusion measures. Defining &#x27;G&#x27; as the proportion of women on boards also distracts us from what governance should be. Your governance program should be judged by your whistleblower policy; or, the number of times your customers sued you for the same mistake.</p>

          <p class="text-gray-200 leading-loose">  
          Two, ESG experts do not practice what they preach. For example, when you attend an ESG conference, how often is the expert panel, diverse? Are their respective companies diverse? Have they included Indigenous leaders or meteorologists? If the answer is no, the lack of representation means they fail the S requirement in ESG. As such, they can not be ESG experts. If the answer to these questions is yes, then ask yourself if the panelists show a diversity of thought? Do they raise uncomfortable truths, or do they parrot politically correct mainstream positions? Are activists on the panel? If the answer is no, raise your hand, and ask the panel tough questions. Or, even better, sponsor a diverse panel. </p>

          <p class="text-gray-200 leading-loose">
          Unsurprisingly, the consequence of a lack of diversity has led industry pundits to complain there are too many ESG consultancies.</p>

          <p class="text-gray-200 leading-loose">
          Perhaps the pundits are right. There are too many generalist ESG companies brimming with consultants from similar backgrounds and mindsets. But they are wrong about one thing. There is a definite lack of specialist companies in Scope 3 emissions reporting. ESG pundits can learn from the tech community. </p>

          <p class="text-gray-200 leading-loose">
          Tech&#x27;s low barriers to entry, general openness, and judgement based on what you can contribute rather than who you are, are largely responsible for the rapid advancements society enjoys today. Accordingly, we need to recognize the unique and bold contributions ESG specialists can make to the climate reporting landscape.</p>
      </div>
    </div>
    
    <!-- CONTENT 10 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">GUIDANCE</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">A shaky foundation</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          ESG frameworks can be thought of as guidebooks to help you tackle the climate crisis. At least 10 frameworks have been created over the decades. ESG frameworks tend to borrow terms and concepts from each other. Thankfully, standards boards and regulators are in the process of merging the frameworks. The stated goal is to reach a final two.</p>

          <p class="text-gray-200 leading-loose">
          Two standards bodies are responsible for the proliferation of ESG frameworks; the Financial Accounting Standards Board (FASB) in the US, and the International Accounting Standards Committee (IASC) for the rest of the world. Both were created in 1973. Seven problems overshadow their good work.</p>

          <p class="text-gray-200 leading-loose">
          Hence, ESG frameworks are a regulatory construct designed by finance, with some degree of crossover into governance. ESG frameworks do not seek to implement environmental regulations or address social justice concerns as a matter of principle. Despite the hype around saving the planet, ESG frameworks are designed to keep you in business.</p>

          <p class="text-gray-200 leading-loose">
          ESG frameworks offer guidance on how climate change may affect your financial position and financial performance; your cash flows over the short, medium and long term, your value; and your strategy and business model. This approach is ultimately self defeating. Your organization will not be saved if your city is under water due to rising sea levels.</p>

          <p class="text-gray-200 leading-loose">
          Two, these authorities are not proactive. FASB has yet to show exceptional leadership on climate change; and, appears willing to follow the lead of the US Securities and Exchange Commission (SEC). The SEC encourages organizations to set net zero targets for 2050. As the UN Intergovernmental Panel on Climate Change (IPCC) summarises, &quot;The next few years are critical; without immediate and deep reductions in all sectors, limiting warming to 1.5 degrees Celisus will be beyond reach.&quot; </p>

          <p class="text-gray-200 leading-loose">
          IASC waited 48 years to approve a sustainability framework. IASC created the International Financial Reporting Standards (IFRS) in 2000. IFRS created the International Sustainability Standards Board (ISSB) in November 2021. </p>

          <p class="text-gray-200 leading-loose">
          Three, our current focus could inadvertently encourage more greenwashing. The ISSB is beginning to dominate the ESG framework hierarchy. The ISSB wants to publish a summary of all climate projects. A publicly available database has certain advantages. It could prevent multiple groups from taking credit for the same climate activity. Second, the more projects your organization publishes, the higher your ESG score. In theory, the higher your ESG score, the more ESG investment your organization would receive. The database could, however, be manipulated by bad actors. </p>

          <p class="text-gray-200 leading-loose">
          Imagine an organization buys one acre of land for environmental remediation. Ordinarily, they would record this project once. To increase their appeal to ESG ratings agencies, they could split the associated activities into an innumerable amount of projects. For example, they could claim a credit for soil rehabilitation project, another credit for planting trees, and a third for replenishing the groundwater system, etc.</p>

          <p class="text-gray-200 leading-loose">
          Four, in response to criticisms about greenwashing, regulators often respond with, &quot;We should not let the perfect be the enemy of the good.&quot; This leeway seems to only apply to ESG insiders. </p>

          <p class="text-gray-200 leading-loose">
          Entrepreneurs in the global north received tens of millions of investment for half done, half considered solutions, while innovators from the global south are denied funding. We are in the midst of a mass transfer of wealth from high carbon emitting companies (run largely by white males) to somewhat lower carbon emitting companies (also dominated by the same group). For a community that professes to care about equality of opportunity, very little has been said about the lack of regional diversity in ESG funding. </p>

          <p class="text-gray-200 leading-loose">
          Apparently, underrepresented entrepreneurs do not raise sizeable capital due to their failure to pass due diligence checks. Ironically, communities of the global south retain a knowledge of environmental stewardship that has been developed over hundreds of generations. We all lose, when such knowledge is not supported by ESG funds. </p>

          <p class="text-gray-200 leading-loose">
          Five, accountants can not save us. Certified Public Accountants, Financial Analysts, Business Analysts and MBAs are not innately gifted with such broad expertise. One day, we will look back and wonder why we ever let financiers set the environmental, social and governance standards needed to avoid 3 degrees of warming. </p>

          <p class="text-gray-200 leading-loose">
          Six, when the only tool you have is a hammer, everything looks like a nail. The accounting boards have created a new form of accounting, Carbon Accounting (CA). CA estimates how much carbon dioxide equivalents produce a carbon credit. These credits are traded on carbon markets. </p>

          <p class="text-gray-200 leading-loose">
          Carbon credits are problematic. They either fail to meet their targets to offset pollution; or, the gains are quickly reversed; or we discover the estimates of carbon savings were initially wildly off base.</p>

          <p class="text-gray-200 leading-loose">
          Seven, our deference to the accountants has caused us to become distracted by the financial concepts of &quot;materiality&quot; and &quot;risk.&quot; Before an ESG project is approved and funded, ESG analysts must establish a given risk is material to the firm. Temperature records are being broken regularly by whole degrees, not fractions. Our default position should be to assume all risks are material.</p>

          <p class="text-gray-200 leading-loose">
          To conclude, you may be tempted to switch your focus from one that is &#x27;organization-first&#x27; to one that is &#x27;climate-first&#x27;. Unless you run a B Corp, Public Benefit Corporation or similar, the switch to a truly climate-first framework could land you in court. Your fiduciary duty to your shareholders probably means you are legally obligated to prioritize profit over planet. </p>

          <p class="text-gray-200 leading-loose">
          Moreover, US State Senators have vowed legal action against organizations or individuals who promote ESG principles. This plan depends on their ability to win the House and Presidency in the upcoming election cycles.</p>

          <p class="text-gray-200 leading-loose">
          As the IPCC&#x27;s latest report on mitigation points out, we need to halve emissions by 2030. We urgently need to revisit, if not reimagine, the entire system of ESG frameworks. </p>
      </div>
    </div>
 
    <!-- CONTENT 11 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">ACTIVISTS</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">Climate change affects the weather</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          Without question, non profits such as Greenpeace and Extinction Rebellion motivate millions to take action.  From Boise to Philadelphia, we see grandparents march for real change alongside millenials, clergymen - and even your employees. At least six issues persist despite their efforts.</p>

        <p class="text-gray-200 leading-loose">
          An uncomfortable truth which confronts climate activists is the failure of their robust messaging to penetrate your ESG strategy. Your day to day burdens trump ESG concerns. Corporate leaders are under constant pressure to maximize wealth creation. Governments serve more people, who live longer, with fewer tax receipts to pay for basic services. Political leaders prioritize short term wins as they focus on their next election.</p>
        
      <div class="md:ml-10">
        <p class="text-gray-200 leading-loose">
          MobiCycle&#x27;s Prediction: Demands will increase for your board to ensure executive management is incentivised to prioritize ESG. </p>

        <p class="text-gray-200 leading-loose">
          Solution: Add ESG targets to your executive remuneration packages.</p>
      </div>

        <p class="text-gray-200 leading-loose">
          A second weakness is hubris. For activists, the solution to the climate crisis is obvious: renewables. Since traditional energy is now more expensive than renewables (especially if you exclude subsidies), a switch to clean energy is a no-brainer. Nothing could be further from the truth. The critical minerals needed to power renewables can either come from the earth, or from existing electronics. We must, as a collective, choose urban mining - the retrieval of critical minerals from discarded electronics. Otherwise, we will continue to gamble society&#x27;s future on traditional mining. Traditional mining is the single most damaging activity you can imagine for the planet - apart from nuclear war. Simply put, in our haste to save the planet with renewable energy from mined critical minerals, we slowly destroy it.</p>

      <div class="md:ml-10">
        <p class="text-gray-200 leading-loose">MobiCycle&#x27;s Prediction:
          Once climate activists realize the &#x27;renewables dilemma&#x27;, they will increase their calls for anti-growth initiatives to cut back on the need for renewables. </p>
        
        <p class="text-gray-200 leading-loose">
          Solution: Fund urban mining initiatives.</p>
      </div>

        <p class="text-gray-200 leading-loose">
          Third, the prices we pay for renewables are artificially low. Negative externalities are not priced in to the markets. A negative externality is the unaccounted for, and unwanted part, of a product&#x27;s life cycle.  (A circular economy has processes to identify and remove negative externalities before they hurt people and the biosphere.) For example, the unintended by-products from the manufacture and use of a solar panel or wind turbine are: embedded emissions, biodiversity loss and pollutants in the air, land, and water. </p>

      <div class="md:ml-10">
        <p class="text-gray-200 leading-loose">
          MobiCycle&#x27;s Prediction: Climate activists will demand prices be set in line with each product&#x27;s total environmental footprint. Particular attention will be paid to mining operations and the proper recycling, reuse and remediation of the eventual discarded eWaste.</p>

        <p class="text-gray-200 leading-loose">
          Solution: Adopt full Scope 3 reporting across all categories; and, expand your analysis to include biodiversity and pollution in order to establish accurate price points.</p>
      </div>

        <p class="text-gray-200 leading-loose">
          Fourth, a common mantra is, &quot;End fossil fuel use now!&quot;. Immediate cessation would limit warming to 1.5 degrees C - but would not allow for a &#x27;just transition&#x27;. A just transition would phase out fossil fuels while preferencing the &#x27;hard to replace&#x27; products relied on by society&#x27;s most vulnerable. For example, recall the number of products in your home that are made of plastic. Remember to include in your list, your computer and any medical equipment. A global oil embargo could deny you the ability to replace them, because plastics are made from oil. (Some products can not use recycled plastics due to their inferior quality). Therefore, without a just transition, millions of people will face extreme hardship; if not premature illness or death.</p>

       <div class="md:ml-10">
        <p class="text-gray-200 leading-loose">
          MobiCycle&#x27;s Prediction: New demands will require the capping and prioritization of fossil fuels, rather than an unqualified abandonment - but only if activists conclude the public and private sectors have made a genuine commitment to a rapid phase out of fossil fuels.</p>

        <p class="text-gray-200 leading-loose">
          Solution: Calculate GHG emissions across your entire supply chain. Develop a plan to reduce all emissions, from carbon (CO<sub>2</sub>) to methane (CH<sub>4</sub>), nitrous oxide (N<sub>2</sub>O), sulfur hexafluoride (SF<sub>6</sub>), hydrofluorocarbons (HFCs) and perfluorocarbons (PFCs).</p>
      </div>
  
        <p class="text-gray-200 leading-loose">
          Fifth, some prominent activists reject outright the idea that tech can save us. To paraphrase their position, &#x27;Technological innovations are a distraction and forestall the time when tough decisions must be made&#x27;. They have a point. Industry&#x27;s focus on negative emissions technologies that effectively suck carbon out of the air, or artificial skies to block out the sun&#x27;s rays, is irresponsible. The IPCC&#x27;s position that we are doomed unless we make a success of negative emissions technologies is unhelpful. These particular tech solutions have yet to be commerialized, either because they are way too costly or the science is unproven. We should celebrate simplicity. Tech promises us more than moonshots. Today you can procure tech solutions that perform complex calculations, monitor our supply chain and alert us when we are getting off track - so, why wait?</p>

      <div class="md:ml-10">
        <p class="text-gray-200 leading-loose">
          MobiCycle&#x27;s Prediction: Adoption of some tech silences the purists.</p>

        <p class="text-gray-200 leading-loose">
          Solution: Talk to MobiCycle about our eWaste management platform.</p>
      </div>

        <p class="text-gray-200 leading-loose">
          Finally, we discuss messaging. Climate activists want you to confront the stark reality of climate change, now. No clear authority has emerged on how to execute this goal. When should employees learn about climate change? At what rate should we expect them to progress? How dire should the scenario(s) we explore be? Your organization is run by people; and, everyone&#x27;s journey is unique. Severe emotional distress could result if the training around climate change is handled without a high degree of sensitivity and awareness. </p>
      
      <div class="md:ml-10">
        <p class="text-gray-200 leading-loose">
          MobiCycle&#x27;s Prediction: New demands for the establishment of internal or employee marketing campaigns.</p>

        <p class="text-gray-200 leading-loose">
          Solution: Before launching training or marketing campaign on climate change, understand deeply how your organization contributes to climate change. Then, equip your employees with the knowledge they need to make a difference within your organization, while giving them space to control the pace of delivery. Allow them to protect their mental health.</p>
      </div>

      </div>
    </div>
     
    <!-- CONTENT 12 -->
    <div class="max-w-4xl mx-auto prose">
      <div class="space-y-4 mb-10">
        <span class="text-orange-650 font-bold uppercase">HOW TO SAVE A PLANET</span>
        <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">Climate change affects the weather</h2>
      </div>
      <div>
        <p class="text-gray-200 leading-loose">
          We are in a global emergency. We add 162 million tons of emissions in to our atmosphere daily. Up to 1 billion climate refugees will seek refuge this century. The situation is becoming worse, much faster than the climate experts predicted. Warmer air holds more water. Organizations, ESG consultants, governments and activists each offer ssolution, generally around adaptation and mitigation. MobiCycle has a plan, too. The plan has three stages. </p>

          <p class="text-gray-200 leading-loose">            
          Stage 1 asks procurement to create RFPs for solutions around Scope 3, biodiversity and pollution. </p>

          <p class="text-gray-200 leading-loose">            
          Stage 2 asks procurement to preference ESG specialists over generalists.</p>

          <p class="text-gray-200 leading-loose">            
          Stage 3 asks fund managers to create ESG funds for specialist E, S and G companies.</p>

          <p class="text-gray-200 leading-loose"> 
          A example of the funding problem: Fund managers put short term profit before the planet. The largest ESG investment portfolios represent Fortune 5000 companies, not environmental companies. A publicly traded company just has to do ESG activities to qualify for the funding. </p>

          <p class="text-gray-200 leading-loose">
          A possible solution: Fund managers would create ESG funds for companies that directly reduce emissions, pollution or rebuilding habitats. In other words, companies for which safeguarding the environment is the reason for existing. </p>

          <p class="text-gray-200 leading-loose">
          Benefits: Fortune 5000 companies will create spin offs to meet the new criteria. A range of specialist companies will be created. Retail investors (employees) will have confidence their retirement savings are going to true ESG companies.</p>

          <p class="text-gray-200 leading-loose">
          (Climate tech funds because they already have an established presence and focus on negative emissions technologies. Negative emissions technologies such as carbon recapture or new energy systems such as nuclear fusion are unproven at scale and appear unlikely to meet demand within the next ten years.) </p>
          </div>
        </div>

      <!-- CONTENT 13 -->
      <div class="max-w-4xl mx-auto prose">
        <div class="space-y-4 mb-10">
          <span class="text-orange-650 font-bold uppercase">conclusion</span>
          <h2 class="mb-12 text-3xl lg:text-4xl  text-gray-200">A lot to take in</h2>
        </div>
        <div>
          <p class="text-gray-200 leading-loose">
            Your net zero policy probably reads, &quot;We commit to reducing our carbon emissions by X% by Y date.&quot; The public thinks your commitment applies to your entire emissions. A more accurate reading of your statement is perhaps, &quot;We commit to reducing our carbon emissions by X% across Scopes 1 and 2 emissions only, by Y date.&quot; Or, for the slightly more ambitious organizations, &quot;We commit to reducing our carbon emissions by X% across Scopes 1, 2 - and the business travel category within Scope 3 - by Y date.</p>

          <p class="text-gray-200 leading-loose">
            Imagine how your customers will feel when they find out your net zero commitment represents on average just 30% of your total emissions? One option is to clarify your position with a disclaimer. You can state what percentage of overall emissions your commitment covers. For example, &quot;By emissions, we mean Scope 1 and Scope 2 emissions (and Scope 3 business travel, if included). We estimate these emissions to represent (the number here should be between 5 and 30)% of our total emissions.&quot;</p>

          <p class="text-gray-200 leading-loose">
            The public could then multiply the percentage by which you plan to cut emissions, by the percentage those emissions represents in relation to the total.</p>

          <p class="text-gray-200 leading-loose">
            Moreover, the US Securities and Exchange Commission will require publicly traded companies to report Scope 3 emissions by 2023. This requirement will become the new norm for all organizations. The best approach for calculating emissions in your Scope 3 supply chain, is to carry out assessments by waste stream. Electronic waste, eWaste, is the fastest growing waste stream in the world. </p>

          <p class="text-gray-200 leading-loose">
            Electronics management is a key component of your Scope 3. It is often underlooked because it is not associated with carbon emissions. Electronics management has incredibly potent greenhouse gases. It also has an impact on the biosphere and is a key contributor to pollution.</p>

          <p class="text-gray-200 leading-loose">
            A focus on electronics management supports your efforts to fully represent your emissions footprint. Go beyond carbon to include methane, sulfur dioxide, and others. Moreover, calls for organizations to track their impact on biodiversity and pollution are not too far away. A focus on electronics in your Scope 3 reporting can provide a bridge to how you would represent your biodiversity and pollution footprints.</p>

          <p class="text-gray-200 leading-loose">
            Despite an abundance of climate deniers in main stream media, to paraphase Winston Churchill, the American people can be counted on generally to do the right thing, after first exhausting every available alternative. Accordingly, the public needs their leaders to be truthful about how their living standards will change in the near future, for them and for their children. They also need the public and private sectors to offer change that goes beyond overly-simplistic policies- even if the execution does not always live up to their promise.</p>

          <p class="text-gray-200 leading-loose">
              Option 1. Ensure your efforts to curb GHG emissions go beyond carbon dioxide. Also determine (or estimate) your respective footprints for methane (CH<sub>4</sub>), nitrous oxide (N<sub>2</sub>O), sulfur hexafluoride (SF<sub>6</sub>), hydrofluorocarbons (HFCs) and perfluorocarbons (PFCs).</p>

          <p class="text-gray-200 leading-loose">              
            Option 2. Hire expertise across by waste stream and Scopes. As the fastest growing waste stream in the world, electronics should be top of your list. An ESG expert should be one who takes the many reports and generates a grand narrative of your performance.</p>
            
          <p class="text-gray-200 leading-loose">              
            Option 3. Pilot new business models. Rank you subsidiaries according to their ESG credentials. Consider spin-offs for subsidiaries that fall on either end of the spectrum. The most ESG companies could raise considerable sums though a higher ESG rating and inclusion in an ESG investor portfolio or index fund.</p>
 
          <p class="text-gray-200 leading-loose italic">
          And as always, remain hopeful :)</p>

        </div>
      </div>
         
    
  </div>
</section>
     

 


      