---
//index.astro
import Layout from "../layouts/Layout.astro";
import Body from "../components/Body/Body.astro";
import Background from "../components/Body/Header/Background/Background.astro";
---

<Layout title="MobiCycle USA | Home" />
<div class="hidden md:flex"><Background/></div>
<Body />