---

---


<section class="py-10 bg-gradient-to-t from-gray-200 rounded-xl overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="p-10  rounded-3xl">
        <div class="flex flex-wrap md:items-center -m-8">
        <h1>Talk to us</h1>
          <div class="w-full p-8">
            <form class="md:max-w-md mx-auto">
              <div class="flex flex-wrap -m-3 space-y-8">
                <div class="w-full p-3">
                  <label class="block mb-2 text-sm text-gray-500" for="signUpLightReverseInput1-1">Full Name</label>
                  <input class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full" id="signUpLightReverseInput1-1" type="text" placeholder="">
                </div>
                <div class="w-full p-3">
                    <label class="block mb-2 text-sm text-gray-500" for="signUpLightReverseInput1-1">Company</label>
                    <input class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full" id="signUpLightReverseInput1-1" type="text" placeholder="">
                  </div>
                <div class="w-full p-3">
                  <label class="block mb-2 text-sm text-gray-500" for="signUpLightReverseInput1-2">Email Address</label>
                  <input class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 bg-gray-100 placeholder-gray-500 outline-none border border-gray-200 focus:ring-4 focus:ring-blue-200 rounded-full" id="signUpLightReverseInput1-2" type="email" placeholder="">
                </div>

                <div class="w-full p-3">
                  <div class="flex flex-wrap items-center justify-between -m-3">
                    <div class="w-auto p-3">
                      <div class="flex items-center">
                        <input class="opacity-0 absolute h-6 w-6" id="signUpLightReverseCheckbox1-1" type="checkbox">
                        <div class="flex flex-shrink-0 justify-center items-center w-6 h-6 mr-4 text-transparent bg-white border border-gray-200 border-neutral-200 rounded-md">
                          <svg width="9" height="7" viewbox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.603516 3.77075L2.68685 5.85409L7.89518 0.645752" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                        </div>
                        <label class="text-gray-500" for="signUpLightReverseCheckbox1-1">
                          <span>By signing up, I agree to the</span>
                          <a class="text-blue-500 hover:text-blue-600" href="#">Terms &amp; Conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-full p-3">
                  <div class="flex flex-wrap md:justify-end -m-2">
                    <div class="w-full p-2"><a class="block px-8 py-3.5 text-lg text-center text-white bg-purple-650 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full" href="#">Sign Up</a></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>