---
// Footer Logo
---

<div class="h-auto md:h-auto w-60 md:max-w-40 px-4 mt-4 sm:px-0">
    <a href="https://mobicycle.tech">
        <img
            src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/47bb0fd9-dc60-4c61-5748-9b0983858000/50"
            alt="MobiCycle Logo"
        />
    </a>
</div>
