---
---

<a
	href="https://mobicycle.group"
	class="absolute md:visible z-50 pt-0 ml-1 lg:-ml-8 bg-gradient-to-t from-slate-650 rounded-xl shadow-xl px-2">
	<div class="w-24 grayscale">
		<img
			src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/b5559dc3-d375-47cc-c889-df3c41382200/200"
		/>
	</div>
</a>
