---

---

<footer id="footer" class="footer wf-section">
    <div class="footer-div-all">
      <div class="footer-div">
        <div data-w-id="9bbd0169-ff83-dcae-e2e8-a2458b89230b" class="embed-logo w-embed"><img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/b5559dc3-d375-47cc-c889-df3c41382200/public" alt="logo" width="100%" height="auto"></div>
        <div class="footer-grid-all">
          <div class="w-layout-grid footer-grid">
            <div class="footer-space left">
              <h2 class="footer-heading">HARDWARE</h2>
              <ul role="list" class="w-list-unstyled">
                <li class="list-item-11">
                  <a href="https://ewaste.network" target="_blank" class="footer-link-2">Where are WEEE?</a>
                </li>
                <li class="list-item-11">
                  <a href="https://bins.mobi" target="_blank" class="footer-link-2">MobiBins</a>
                </li>
              </ul>
            </div>
            <div class="footer-space middle">
              <h2 class="footer-heading">SOFTWARE</h2>
              <ul role="list" class="w-list-unstyled">
                <li class="list-item-11">
                  <a href="https://mobicycle.tech" target="_blank" class="footer-link-2 long">Digital Tech</a>
                </li>
                <li class="list-item-11">
                  <a href="https://mobicycle.games" target="_blank" class="footer-link-2">Games</a>
                </li>
              </ul>
            </div>
            <div class="footer-space middle">
              <h2 class="footer-heading">SERVICES</h2>
              <ul role="list" class="w-list-unstyled">
                <li class="list-item-11">
                  <a href="https://mobicycle.consulting" target="_blank" class="footer-link-2 long">Consulting</a>
                </li>
                <li class="list-item-11">
                  <a href="https://mobicycle.marketing" target="_blank" class="footer-link-2">Marketing</a>
                </li>
              </ul>
            </div>
            <div class="footer-space right">
              <h2 class="footer-heading">COMPANY</h2>
              <ul role="list" class="w-list-unstyled">
                <li class="list-item-11">
                  <a href="https://about.mobicycle.us" target="_blank" class="footer-link-2">About</a>
                </li>
                <li class="list-item-11">
                  <a href="https://case-studies.mobicycle.group" target="_blank" class="footer-link-2">Case Studies</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-layout-grid privacy-grid">
            <div id="w-node-_9bbd0169-ff83-dcae-e2e8-a2458b892337-8b892308" class="terms-and-conditions">
              <a href="https://disclaimer.mobicycle.group" target="_blank" class="link-2">DISCLAIMER</a> <br>
            </div>
            <div id="w-node-_9bbd0169-ff83-dcae-e2e8-a2458b89233c-8b892308" class="terms-and-conditions">
              <a href="https://cookie-policy.mobicycle.group/" target="_blank" class="link-2">COOKIES</a><br>
            </div>
            <div id="w-node-_9bbd0169-ff83-dcae-e2e8-a2458b892340-8b892308" class="terms-and-conditions">
              <a href="https://privacy.mobicycle.group" target="_blank" class="link-2">PRIVACY</a><br>
            </div>
            <div id="w-node-_9bbd0169-ff83-dcae-e2e8-a2458b892344-8b892308" class="terms-and-conditions">
              <a href="https://terms.mobicycle.group" target="_blank" class="link-2">TERMS</a><br>
            </div>
          </div>
        </div>
      </div>
      <div class="addresses-div">
        <div class="addresses usa">1603 Capitol Ave. Suite 310 A223 Cheyenne, Wyoming 82001</div>
        <div class="addresses estonia"> Tornimäe 5 Tallinn Kesklinn Estonia 10145<br></div>
        <div class="addresses uk">Rue de la Presse, 4 - 1000 Bruxelles Belgium<br></div>
      </div>
      <div class="copyright"><br>Copyright © 2022 MobiCycle. All rights reserved. </div>
    </div>
  </footer>