---

---

<!-- SECTION B-->
    <div class="grid grid-cols-2 max-w-lg gap-10 h-full">

       <!-- TWO -->
      <div class="space-y-4 animate-in slide-in-from-bottom-60 duration-1000">
        <div class="grayscale ">
          <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/2fd53f9e-3864-4d91-ca1d-36ec2a536100/public" alt="logo" width="100%" height="auto"></div>
          <h4 class="italic text-2xl text-gray-400">Unwanted</h4>
          <p class="text-gray-400">The term &#x27;eWaste&#x27; refers to products that are unwanted, not working, and nearing or at the end of their <strong><em>useful</em></strong> life.</p>
      </div>

        <!-- THREE -->
        <div class="translate-y-40 space-y-4 animate-in slide-in-from-bottom-60 duration-1000">          
          <div class="grayscale">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/8385ce97-713b-4ecc-6a15-18f4f2c5a800/public" alt="logo" width="100%" height="auto"></div>
            <h4 class="italic text-2xl text-gray-400">A critical resource</h4>
            <p class="text-gray-400">Abandoned electronics contain precious metals. By some estimates, $62.5 billion-worth of value exists in discarded electronic items worldwide.</p>
        </div>

         <!-- FOUR -->
         <div class="space-y-4 translate-y-20 animate-in slide-in-from-bottom-60 duration-1000"> 
          <div class="grayscale">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/6a80a1a9-aeb6-4970-ef3c-ec0d9ec1dd00/public" alt="logo" width="100%" height="auto"></div>
            <h4 class="w-full italic text-2xl text-gray-400">A pollutant</h4>
            <p class="text-gray-400">As the world&#x27;s fastest growing waste stream, improperly discarded ewaste pollutes our air, soil, and water.</p>
        </div> 

    </div>
