---

---

<!-- SECTION D -->
<section class="bg-purple-650">
<div class="container mx-auto ">
  <div class="container mx-auto max-w-7xl">
  <div class="flex py-20 text-center text-gray-300 text-6xl">Get Started</div>

<div class="flex flex-wrap -mx-4 -mb-4 md:mb-0 border-t border-b border-gray-500 py-10">
  <div class="w-full right-0 md:w-1/5 mb-4 md:mb-0"><div class="container w-fit scale-50 grayscale">
    <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/1e2abe4d-6056-4fbb-2592-cbabe70a1c00/300"></div></div>
  <div class="w-full md:w-4/5 px-4 mb-4 md:mb-0 text-gray-300 border-l border-gray-500">
    <div class="mb-10">
      <div>
        <h1 class="text-3xl mb-6">Get to know us</h1>
        <div class="margin-20px">
          <p class="paragraph-3">Learn about MobiCycle&#x27;s approach to climate change. Visit our <em>About us</em> page, frequently asked questions, our industry papers, white paper and checklist.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-wrap -mx-4 -mb-4 md:mb-0 border-t border-b border-gray-500 py-10">
  <div class="w-full md:w-1/5 px-4 mb-4 md:mb-0"><div class="container w-fit scale-50 grayscale">
    <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/0aeb4d74-bd20-45c6-1385-b82252136100/300"></div></div>
  <div class="w-full md:w-4/5 px-4 mb-4 md:mb-0 text-gray-300 border-l border-gray-500">
    <div class="mb-10">
      <div>
        <h1 class="text-3xl mb-6">Explore possible solutions</h1>
        <div class="margin-20px">
          <p>Discover and try our products and services. View Pricing information. Review the four sites: Consulting, Tech, Games and Marketing. </p>
        </div>
      </div>
    </div>
  </div>
  </div>

<div class="flex flex-wrap -mx-4 -mb-4 md:mb-0 border-t border-b border-gray-500 py-10">
  <div class="w-full md:w-1/5 px-4 mb-4 md:mb-0"><div class="container w-fit scale-50 grayscale">
    <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/bd804601-c41a-46b6-7782-9756c1835500/300"></div></div>
  <div class="w-full md:w-4/5 px-4 mb-4 md:mb-0 text-gray-300 border-l border-gray-500">
    <div class="mb-10">
      <div>
        <h1 class="text-3xl mb-6">Try before you buy</h1>
        <div class="margin-20px">
          <p>Try public demos of our digital solutions. Speak to sales to schedule a private demo tailored to your requirements.</p>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="flex flex-wrap -mx-4 -mb-4 md:mb-0 border-t border-gray-500 py-10">
  <div class="w-full md:w-1/5 px-4 mb-4 md:mb-0"><div class="container w-fit scale-50 grayscale">
    <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/86e708d2-4697-4e85-1135-123114cf6a00/300"></div></div>
  <div class="w-full md:w-4/5 px-4 mb-4 md:mb-0 text-gray-300 border-l border-gray-500">
    <div class="mb-10">
      <div>
        <h1 class="text-3xl mb-6">Get in touch</h1>
        <div class="margin-20px">
          <p class="paragraph-4">Our sales, technical support and customer service teams are available online during office hours.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="container mx-auto max-w-lg pb-20">
  
  <div class="flex flex-wrap -mx-4 -mb-4 md:mb-0">
    <div class="w-full md:w-1/3 px-4 mb-4 md:mb-0">
      <div class="mb-4">
        <a class="inline-block px-4 py-3.5 text-lg text-center text-gray-200 bg-orange-650 hover:bg-gray-500 focus:ring-4 focus:ring-blue-200 rounded" href="/white-paper" target="_blank">White paper</a>
    </div>
  </div>
  
  <div class="w-full md:w-2/3 px-4 mb-4 md:mb-0">
    <div class="mb-4">
      <a class="inline-block px-4 py-3.5 text-lg text-center text-orange-650 hover:border border-orange-650 focus:ring-4 focus:ring-blue-200 rounded" href="#">Frequently Asked Questions</a>
    </div>
  </div>
</div>

</section>

