---

---


<!-- SECTION A-->
<section class="my-10">
  <div class="container w-full">  
    
    <div class="w-full md:w-1/2">
      <a class="inline-block px-6 py-2 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">BUSINESS PLAN</a>
      <a class="inline-block px-6 py-2 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">PRODUCT DEMOS</a>
      <a class="inline-block px-6 py-2 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">CASE STUDIES</a>
    </div>

    <div class="w-full md:w-1/2">
      <a class="inline-block px-6 py-2 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">CAPABILITIES STATEMENTS</a>
      <a class="inline-block px-6 py-2 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">INDUSTRY GUIDES</a>
      <a class="inline-block px-6 py-2 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">ELEVATOR PITCH</a>
    </div>

  </div>
</section>