---

---
<!-- SECTION A-->

<section class="flex flex-wrap pt-20 xl:pt-40">

  <div class="w-full md:w-1/3 p-4">
        <div class="md:max-w-xs mx-auto text-center border">
          <a class="inline-block px-6 py-10 text-lg text-purple-650 leading-loose rounded transition duration-200" href="https://plan.mobicycle.group">BUSINESS PLAN</a>
        </div>
      </div>

      <div class="w-full md:w-1/3 p-4">
        <div class="md:max-w-xs mx-auto text-center border">
          <a class="inline-block px-6 py-10 text-lg text-purple-650 leading-loose rounded transition duration-200" href="https://demos.mobicycle.group">PRODUCT DEMOS</a>
        </div>
      </div>

      <div class="w-full md:w-1/3 p-4">
        <div class="md:max-w-xs mx-auto text-center border">
          <a class="inline-block px-6 py-10 text-lg text-purple-650 leading-loose rounded transition duration-200" href="https://case-studies.mobicycle.group">CASE STUDIES</a>
        </div>
      </div>

      <div class="w-full md:w-1/3 p-4">
        <div class="md:max-w-xs mx-auto text-center border">
          <a class="inline-block lg:px-6 py-10 text-lg text-purple-650 leading-loose rounded transition duration-200" href="https://capabilities.mobicycle.group">CAPABILITIES STATEMENTS</a>
        </div>
      </div>

      <div class="w-full md:w-1/3 p-4">
        <div class="md:max-w-xs mx-auto text-center border">
          <a class="inline-block px-6 py-10 text-lg text-purple-650 leading-loose rounded transition duration-200" href="https://industry.mobicycle.group">INDUSTRY GUIDES</a>
        </div>
      </div>

      <div class="w-full md:w-1/3 p-4">
        <div class="md:max-w-xs mx-auto text-center border">
          <a class="inline-block px-6 py-10 text-lg text-purple-650 leading-loose rounded transition duration-200" href="https://pitch.mobicycle.group">ELEVATOR PITCH</a>
        </div>
      </div>

</section>


