---
import Button from '../Buttons/Button.astro';
---

<!-- SECTION D -->
<section class="py-20 bg-gradient-to-b from-purple-650">
  <div class="container px-4 mx-auto">
    <div class="max-w-4xl mx-auto">

      <div class="flex flex-wrap justify-center px-20 pb-20">

      <!-- TITLE -->
      <div class="flex flex-wrap justify-center py-20 text-center text-gray-300 text-6xl">Get Started</div>

      <!-- ONE -->
      <div class="flex flex-wrap -mx-4 -mb-4 md:mb-0 border-t border-gray-500 py-10 animate-in fade-in delay-300 duration-1000">
        <!-- IMAGE -->
        <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
          <div class="container w-fit scale-50 grayscale">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/1e2abe4d-6056-4fbb-2592-cbabe70a1c00/300">
          </div>
        </div>
        <!-- CONTENT -->
        <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0 text-gray-200 border-l border-gray-500">    
          <h1 class="text-3xl mb-6">Get to know us</h1>
          <p class="">Learn about MobiCycle&#x27;s approach to climate change. Visit our <em>About us</em> page, frequently asked questions, our industry papers, white paper and checklist.</p>
        </div>
      </div> 

      <!-- TWO -->
      <div class="flex flex-wrap -mx-4 -mb-4 md:mb-0 border-t border-gray-500 py-10 animate-in fade-in delay-300 duration-1000">
        <!-- IMAGE -->
        <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
          <div class="container w-fit scale-50 grayscale">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/0aeb4d74-bd20-45c6-1385-b82252136100/300">
          </div>
        </div>
        <!-- CONTENT -->
        <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0 text-gray-300 border-l border-gray-500">    
          <h1 class="text-3xl mb-6">Explore possible solutions</h1>
          <p>Discover and try our products and services. View Pricing information. Review the four sites: Consulting, Tech, Games and Marketing.</p>
        </div>
      </div> 

      <!-- THREE -->
      <div class="flex flex-wrap -mx-4 -mb-4 md:mb-0 border-t border-gray-600 py-10 animate-in fade-in delay-300 duration-1000">
        <!-- IMAGE -->
        <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
          <div class="container w-fit scale-50 grayscale">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/bd804601-c41a-46b6-7782-9756c1835500/300">
          </div>
        </div>
        <!-- CONTENT -->
        <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0 text-gray-600 border-l border-gray-500">    
            <h1 class="text-3xl mb-6">Try before you buy</h1>
            <p>Try public demos of our digital solutions. Speak to sales to schedule a private demo tailored to your requirements.</p>
        </div>
      </div>

      <!-- FOUR -->
      <div class="flex flex-wrap -mx-4 -mb-4 md:mb-0 border-t border-gray-700 py-10 animate-in fade-in delay-300 duration-1000">
        <!-- IMAGE -->
        <div class="w-full md:w-1/4 px-4 mb-4 md:mb-0">
          <div class="container w-fit scale-50 grayscale">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/4867b89e-98dd-4b14-679b-38e89b634700/300">
          </div>
        </div>
        <!-- CONTENT -->
        <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0 text-gray-800 border-l border-gray-500">
          <h1 class="text-3xl mb-6">Get in touch</h1>
          <p class="">Our sales, technical support and customer service teams are available online during office hours.</p>
        </div>
      </div>

      </div>
      
  <Button/>
  </div>

  </div>

</section>
