---
import SectionH from "./SectionH.astro";
---
<!-- SECTION C-->
<section>
  <div class="container mx-auto -z-10">
  <div class="flex flex-wrap mx-auto rounded-3xl md:py-28 h-full space-y-0">

      <!-- LEFT -->
      <div class="w-full h-full md:w-1/2">
        <SectionH/>
      </div>

      <!-- RIGHT -->
      <div class="prose pr-8 xl:pr-0 w-full md:w-1/2 space-y-10 border-l-2">

        <!-- TITLE -->
        <div class="mx-auto ml-8">

          <div class="space-y-0">
            <p class="text-2xl md:text-3xl text-purple-650">
              Did you know your supply chain generates as much as 80% of your total greenhouse gas emissions?</p>
            <p class="text-2xl md:text-2xl text-purple-650 font-light">
              Or that electronic waste is the world's fastest growing waste stream?</p>
          </div>

          <p class="text-lg text-purple-650 font-normal">Greenhouse emissions from your supply chain are known as "Scope 3". our Platform helps you manage the Scope 3 emissions your electronics and electricals create. Our solutions also addresses biodiversity loss and pollution. (Please note: We do not physically handle waste).<br></p>
        </div>

        <!-- PARAGRAPHS -->
        <div class="ml-8">
          <p class="text-purple-650"><i><b>Mining.</b></i> Renewables are widely viewed as the cure to curb global warming. Unless we reclaim the minerals used to power renewables, we will mine for them. The mining of critical minerals poisons groundwater and devastates local ecosystems. Your mining supply chain should include suppliers who employ best practices. We can help you find them. <br></p>
        </div>

        <div class="ml-8">
          <p class="text-purple-650"><i><b>Manufacturing.</b></i>The manufacturing processes for electronics and electricals create extremely potent greenhouse gases.  When compared over a 100-year period, sulfur hexafluoride (SF<sub>6</sub>) has a global warming potential 24 thousand times that of carbon dioxide (CO<sub>2</sub>). Nitrogen trifluoride (NF<sub>3</sub>) is 17 thousand times greater.  Get meaningful, actionable data about the environmental impact of your microelectronics or semiconductor devices - from your flat-panel displays and photovoltaics to cell phones or computers, to batteries for your corporate electric vehicles.   <br></p>
        </div>

        <div class="ml-8">
          <p class="text-purple-650"><i><b>Purchases and Sales.</b></i> The Paris Agreement set a goal to limit warming to below 1.5 degrees Celsius. This goal is no longer feasible, but new regulations require you to keep trying. The Greenhouse Gas Protocol provides some guidance that leaves most CEOs questioning where their organization's responsibility begins and ends. Our tools pinpoint areas where your EE supply chain directly impacts the environment.<br></p>
        </div>

        <div class="ml-8">
          <p class="text-purple-650"><i><b>Disposals.</b> </i>Just 10% of electronic waste is recycled globally. eWaste degrades the natural defenses within our environment. When improperly treated, eWaste pollutes our air, soil and waterways. A weakened ecosystem has a negative impact on biodiversity. We need these defenses to fight climate change.<br></p>
        </div>
      </div>
    
    </div>
  </div>
</section>

