---
import SectionA from "./SectionA.astro";
import SectionB from "./SectionB.astro";
import SectionC from "./SectionC.astro";
import SectionD from "./SectionD.astro";
import SectionE from "./SectionE.astro";
import SectionF from "./SectionF.astro";
import SectionG from "./SectionG.astro";
---
<div class="bg-white space-y-6">

<SectionC/>    
<SectionF/>
<SectionE/>
<SectionD/>
<SectionG/>
</div>
