---
import Button from "../../Buttons/Button.astro"
---

<!-- SECTION D -->
<section class="md:py-20 bg-gradient-to-b from-purple-650">
  <div class="container max-w-4xl px-4 mx-auto">
    <div class="flex flex-wrap justify-center px-20 pb-20">
      <!-- TITLE -->
      <div
        class="flex flex-wrap justify-center py-16 text-4xl text-center text-gray-300 md:py-20">
        Get Started
      </div>

      <!-- ONE -->
      <div
        class="flex flex-wrap py-10 -mx-4 -mb-4 duration-1000 delay-300 border-t border-gray-500 md:mb-0 animate-in fade-in">
        <!-- IMAGE -->
        <div class="w-full px-4 mb-4 md:w-1/4 md:mb-0">
          <div class="container scale-50 w-fit grayscale">
            <img
              src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/1e2abe4d-6056-4fbb-2592-cbabe70a1c00/300"
            />
          </div>
        </div>
        <!-- CONTENT -->
        <div
          class="w-full px-4 mb-4 text-gray-200 border-l border-gray-500 md:w-3/4 md:mb-0">
          <h1 class="mb-6 text-xl md:text-3xl">Learn more about MobiCycle</h1>
          <p class="">
            Learn about MobiCycle&#x27;s approach to climate change. Visit our <a
              href="https://about.mobicycle.us"
              class="italic hover:bg-black hover:p-4"
              >About us,</a
            >
            frequently asked questions, our industry papers, white paper and checklist
            pages.
          </p>
        </div>
      </div>

      <!-- TWO -->
      <div
        class="flex flex-wrap py-10 -mx-4 -mb-4 duration-1000 delay-300 border-t border-gray-500 md:mb-0 animate-in fade-in">
        <!-- IMAGE -->
        <div class="w-full px-4 mb-4 md:w-1/4 md:mb-0">
          <div class="container scale-50 w-fit grayscale">
            <img
              src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/0aeb4d74-bd20-45c6-1385-b82252136100/300"
            />
          </div>
        </div>
        <!-- CONTENT -->
        <div
          class="w-full px-4 mb-4 text-gray-300 border-l border-gray-500 md:w-3/4 md:mb-0">
          <h1 class="mb-6 text-xl md:text-3xl">Explore our range of solutions</h1>
          <p>
            Discover and try our products and services. View Pricing
            information. Take a closer look at our four specialized areas:
            Consulting, Tech, Games, and Marketing, to understand how each can
            contribute to your sustainability goals.
          </p>
        </div>
      </div>

      <!-- THREE -->
      <div
        class="flex flex-wrap py-10 -mx-4 -mb-4 duration-1000 delay-300 border-t border-gray-600 md:mb-0 animate-in fade-in">
        <!-- IMAGE -->
        <div class="w-full px-4 mb-4 md:w-1/4 md:mb-0">
          <div class="container scale-50 w-fit grayscale">
            <img
              src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/bd804601-c41a-46b6-7782-9756c1835500/300"
            />
          </div>
        </div>
        <!-- CONTENT -->
        <div
          class="w-full px-4 mb-4 text-gray-600 border-l border-gray-500 md:w-3/4 md:mb-0">
          <h1 class="mb-6 text-xl md:text-3xl">Experience it firsthand</h1>
          <p>
            Take advantage of our public demos, where you can get hands-on
            experience with our digital solutions. If you prefer a more tailored
            experience, our sales team can arrange a private demo specifically
            tailored to meet your unique requirements.
          </p>
        </div>
      </div>

      <!-- FOUR -->
      <div
        class="flex flex-wrap py-10 -mx-4 -mb-4 duration-1000 delay-300 border-t border-gray-700 md:mb-0 animate-in fade-in">
        <!-- IMAGE -->
        <div class="w-full px-4 mb-4 md:w-1/4 md:mb-0">
          <div class="container scale-50 w-fit grayscale">
            <img
              src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/4867b89e-98dd-4b14-679b-38e89b634700/300"
            />
          </div>
        </div>
        <!-- CONTENT -->
        <div
          class="w-full px-4 mb-4 text-gray-800 border-l border-gray-500 md:w-3/4 md:mb-0">
          <h1 class="mb-6 text-xl md:text-3xl">Get in touch with us</h1>
          <p class="">
            Our dedicated sales, technical support, and customer service teams
            are available online during office hours to assist you. Feel free to
            reach out to us for any inquiries or assistance you may need.
          </p>
        </div>
      </div>
    </div>

    <Button />
  </div>
</section>
