---

---

<!-- SECTION G -->
<section>
    <div class="container mx-auto px-4 py-10">
      <div class="py-16 px-8 md:px-16 bg-gradient-to-r from-gray-900 via-purple-650 overflow-hidden rounded">
        <div class="flex flex-wrap items-center -m-4">
          <div class="w-full md:w-1/2 p-4">
            <span class="inline-block mb-3 text-sm text-blue-500 uppercase tracking-widest"></span>
            <h2 class="font-extralight text-3xl md:text-3xl text-gray-200  leading-loose">Subscribe for the latest developments in
                Scope 3 emissions, electronics management and eWaste.</h2>
          </div>
          <div class="w-full md:w-1/2 p-4">
            <div class="md:max-w-md md:ml-auto">
              <div class="flex flex-wrap -m-2">

                <div class="w-full lg:flex-1 p-2">
                  <input class="px-4 py-2.5 w-full text-lg text-gray-500 bg-gray-100 outline-none focus:ring-4 focus:ring-blue-200 placeholder-gray-500 rounded leading-loose" id="newsletterLightReverseInput3-1" type="text" placeholder="Email address">
                </div>

                <div class="w-full lg:w-auto p-2">
                  <div class="flex flex-wrap justify-center -m-2">
                    <div class="w-full lg:w-auto p-2"><a class="block w-full px-6 py-3.5 text-lg text-center text-gray-500 border  hover:bg-orange-650 focus:ring-4 focus:ring-blue-200 rounded" href="#">Subscribe</a></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
