---

---

<!-- SECTION B-->
<section>
    <div class="grid grid-cols-1 lg:grid-cols-4 max-w-lg">

      <!-- ONE -->
      <div class="inline-block px-4 mb-4 md:mb-0">    
        <div class=" ">
          <div style="" class="">
            <h3 style="" class=" text-5xl px-8 leading-normal text-purple-650">Net Zero Electronics</h3>
          </div>
        </div>
      </div>

      <!-- TWO -->
      <div class="inline-block p-6 mb-4 md:mb-0 space-y-6 h-fit mt-10 md:mt-40 border-2 border-orange-650 shadow-lg ">
          <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/2fd53f9e-3864-4d91-ca1d-36ec2a536100/public " alt="logo" width="100%" height="200vw">
          <h4 class="italic text-3xl text-orange-650">Unwanted</h4>
          <p class="">The term &#x27;eWaste&#x27; refers to products that are unwanted, not working, and nearing or at the end of their <strong><em>useful</em></strong> life.</p>
      </div>

        <!-- THREE -->
        <div class="inline-block px-4 mb-4 md:mb-0 space-y-6 h-fit mt-10 md:mt-60 border-2 border-orange-650 shadow-lg p-6">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/8385ce97-713b-4ecc-6a15-18f4f2c5a800/public" alt="logo" width="100%" height="200vw">
            <h4 class="italic text-3xl text-orange-650">A critical resource</h4>
            <p class="">Abandoned electronics contain precious metals. By some estimates, $62.5 billion-worth of value exists in discarded electronic items worldwide.</p>
        </div>

         <!-- FOUR -->
         <div class="inline-block px-4 mb-4 md:mb-0 space-y-6 h-fit mt-10 border-2 border-orange-650 shadow-lg p-6">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/6a80a1a9-aeb6-4970-ef3c-ec0d9ec1dd00/public" alt="logo" width="100%" height="200vw">
            <h4 class="w-full italic text-3xl text-orange-650">A pollutant</h4>
            <p class="">As the world&#x27;s fastest growing waste stream, improperly discarded ewaste pollutes our air, soil, and water.</p>
        </div> 

    </div>
</section>
