---
import SectionB from "./SectionB.astro";
---
<!-- SECTION C-->
<section>
  <div class="flex flex-wrap max-w-6xl mx-auto rounded-3xl py-28 h-full">

      <!-- LEFT -->
      <div class="w-full h-full md:w-1/2">
        <SectionB/>
      </div>

      <!-- RIGHT -->
      <div class="w-full md:w-1/2 space-y-10 border-l-2">

        <!-- TITLE -->
        <div class="ml-4 ">
          <p class="text-3xl text-purple-650 mb-8">Do you work for a company, government, non-profit, manufacturer, retailer or in waste management?<br></p>
          <p class="text-xl text-purple-650">We help you sustainably manage electronics and electricals (EE).<br></p>
        </div>

        <!-- PARAGRAPHS -->
        <div class="ml-4">
          <p class="text-purple-650"><i><b>Mining.</b></i> There's been much discussion on renewables as a way to curb global warming. Unless we reclaim the minerals used to power renewables, we will mine for them. The mining of critical minerals poisons groundwater and devastates local ecosystems. <br></p>
        </div>

        <div class="ml-4">
          <p class="text-purple-650"><i><b>Manufacturing.</b></i>The manufacturing process creates extremely potent greenhouse gases. SF6s and NF3s are much more damaging to the environment than CO2 or carbon dioxide.<br></p>
        </div>

        <div class="ml-4">
          <p class="text-purple-650"><i><b>Purchases and Sales.</b></i> The Paris Agreement set a goal to limit warming to below 1.5 degrees Celsius. This goal is no longer feasible, but the guidance remains in place. The Greenhouse Gas Protocol specifically asks you to track emissions from purchases and sales (of electronic and  electrical equipment).<br></p>
        </div>

        <div class="ml-4">
          <p class="text-purple-650"><i><b>Disposals.</b> </i>Electronic waste is the fastest growing waste stream in the world.Electronic waste degrades the natural defenses within our environment. When improperly treated, eWaste pollutes our air, soil and waterways. A weakened ecosystem has a negative impact on biodiversity. We need these defenses to fight climate change.<br></p>
        </div>
      </div>
    

  </div>
</section>

