---
import SectionH from "./SectionH.astro";
---
<!-- SECTION C-->
<section>
  <div class="container mx-auto -z-10">
  <div class="flex flex-wrap mx-auto rounded-3xl md:py-28 h-full space-y-0">

      <!-- LEFT -->
      <div class="w-full h-full md:w-1/2">
        <SectionH/>
      </div>

      <!-- RIGHT -->
      <div class="prose pr-8 w-full md:w-1/2 space-y-10 border-l-2">

        <!-- TITLE -->
        <div class="mx-auto ml-4">
          <p class="text-2xl md:text-3xl text-purple-650 mb-8">Did you know your supply chain generates as much as 80% of your total greenhouse gas emissions?<br></p>
          <p class="text-lg text-purple-650 font-extralight">Greenhouse emissions from your supply chain are known as "Scope 3 emissions".  MobiCycle focus on Scope 3 emissions for electronics and electricals.<br></p>
        </div>

        <!-- PARAGRAPHS -->
        <div class="ml-4">
          <p class="text-purple-650"><i><b>Mining.</b></i> Renewables are widely viewed as the cure to curb global warming. Unless we reclaim the minerals used to power renewables, we will mine for them. The mining of critical minerals poisons groundwater and devastates local ecosystems. Buy from suppliers who employ best practices. <br></p>
        </div>

        <div class="ml-4">
          <p class="text-purple-650"><i><b>Manufacturing.</b></i>The manufacturing processes for microelectronics such as flat-panel displays and photovoltaics; and semiconductor devices found in cell phones or computers; and, batteries for electric vehicles create extremely potent greenhouse gases.  When compared over a 100-year period, sulfur hexafluoride (SF<sub>6</sub>) has a global warming potential 24 thousand times that of carbon dioxide (CO<sub>2</sub>). Nitrogen trifluoride (NF<sub>3</sub>) is 17 thousand times greater.  <br></p>
        </div>

        <div class="ml-4">
          <p class="text-purple-650"><i><b>Purchases and Sales.</b></i> The Paris Agreement set a goal to limit warming to below 1.5 degrees Celsius. This goal is no longer feasible, but the guidance remains in place. The Greenhouse Gas Protocol specifically asks you to track emissions from purchases and sales (of electronic and  electrical equipment).<br></p>
        </div>

        <div class="ml-4">
          <p class="text-purple-650"><i><b>Disposals.</b> </i>Electronic waste is the fastest growing waste stream in the world.Electronic waste degrades the natural defenses within our environment. When improperly treated, eWaste pollutes our air, soil and waterways. A weakened ecosystem has a negative impact on biodiversity. We need these defenses to fight climate change.<br></p>
        </div>
      </div>
    
    </div>
  </div>
</section>

