---

---
<!-- SECTION E -->
<section>
    <div class="container mx-auto px-4">
      <div class="py-16 px-8 bg-gradient-to-t from purple-650 rounded">
        <div class="max-w-8xl mx-auto">
          <div class="flex flex-wrap -m-4 mb-2">

            <!-- MOBICYCLE CONSULTING -->
            <div class="w-full md:w-1/2 p-4 transition-all ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300">
              <div class="py-16 px-8 text-center h-full bg-orange-650 rounded">
                <div class="flex flex-col justify-between h-full">
                  <div class="flex-initial mb-10">
                    <span class="inline-block mb-6 text-sm text-amber-700 uppercase tracking-widest">MobiCycle Consulting</span>
                    <h2 class="text-xl md:text-xl text-amber-700">
                      <span>Start with an independent review of your business processes, sustainability goals and targets.</span>
                      <span class="text-xl"></span>
                    </h2>
                    <p class="text-xl text-gray-400 font-bold"></p>
                  </div>
                  <div class="flex-initial">
                    <div class="flex flex-wrap justify-center -m-2">
                      <div class="w-full md:w-auto p-2">
                        <a class="block w-full px-8 py-3.5 text-lg text-center text-purple-650   focus:ring-0 focus:ring-blue-200 rounded" href="https://mobicycle.consulting">Visit MobiCycle Consulting</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- MOBICYCLE TECHNOLOGIES -->
            <div class="w-full md:w-1/2 p-4 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
              <div class="py-16 px-8 text-center h-full bg-orange-650 rounded">
                <div class="flex flex-col justify-between h-full">

                  <div class="flex-initial mb-10">
                    <span class="inline-block mb-6 text-sm text-amber-700 uppercase">MobiCycle Technologies</span>
                    <h2 class="font-heading text-xl md:text-xl text-amber-700">
                      <span>Leverage hardware and software applications to comply with environmental regulations. Replace your manual eWaste processes with digital solutions.</span>
                      <span class="text-xl"></span>
                    </h2>
                    <p class="text-xl text-gray-400 font-bold"></p>
                  </div>

                  <div class="flex-initial">
                    <div class="flex flex-wrap justify-center -m-2">
                      <div class="w-full md:w-auto p-2">
                        <a class="block w-full px-8 py-3.5 text-lg text-center text-purple-650  focus:ring-0 focus:ring-blue-200 rounded" href="https://mobicycle.tech">Visit MobiCycle Technologies</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


            <!-- MOBICYCLE GAMES -->
            <div class="w-full md:w-1/2 p-4 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
                <div class="py-16 px-8 text-center h-full bg-orange-650 rounded">
                    <div class="flex flex-col justify-between h-full">
                    <div class="flex-initial mb-10">
                        <span class="inline-block mb-6 text-sm text-amber-700 uppercase tracking-widest">MobiCycle Games</span>
                        <h2 class="text-xl md:text-xl text-amber-700">
                        <span>Navigate worlds built around the challenges of climate change, pollution and eWaste. Envision a better planet.</span>
                        <span class="text-xl"></span>
                        </h2>
                        <p class="text-xl text-gray-400 font-bold"></p>
                    </div>
                    <div class="flex-initial">
                        <div class="flex flex-wrap justify-center -m-2">
                        <div class="w-full md:w-auto p-2">
                            <a class="block w-full px-8 py-3.5 text-lg text-center text-purple-650   focus:ring-0 focus:ring-blue-200 rounded" href="https://mobicycle.games">Visit MobiCycle Games</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
    
                <!-- MOBICYCLE MARKETING -->
                <div class="w-full md:w-1/2 p-4 box transition-all ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300" id="delay">
                <div class="py-16 px-8 text-center h-full bg-orange-650 rounded">
                    <div class="flex flex-col justify-between h-full">
    
                    <div class="flex-initial mb-10">
                        <span class="inline-block mb-6 text-sm text-amber-700 uppercase">MobiCycle Marketing</span>
                        <h2 class="font text-xl md:text-xl text-amber-700">
                        <span>Advertise your progress to your customers. Share how your best practices and technological innovations have led to sustainable outcomes.</span>
                        <span class="text-xl"></span>
                        </h2>
                        <p class="text-xl text-gray-400 font-bold"></p>
                    </div>
    
                    <div class="flex-initial">
                        <div class="flex flex-wrap justify-center -m-2">
                        <div class="w-full md:w-auto p-2">
                            <a class="block w-full px-8 py-3.5 text-lg text-center text-purple-650  focus:ring-0 focus:ring-blue-200 rounded" href="https://mobicycle.marketing">Visit MobiCycle Marketing</a>
                        </div>
                        </div>
                    </div>
    
                    </div>
                </div>
                </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  