---

---

<!-- SECTION F -->
<section>
    <div class="container mx-auto px-4">
      <div class="px-8 md:px-16 bg-white rounded">
        <div class="flex flex-wrap -m-8">

          <!-- LEFT -->
          <div class="flex w-full md:w-1/2 p-8">

            <!-- TITLE -->
            <div class="">
              <h2 class="font-heading mb-10 text-4xl text-purple-650 tracking-tight">
                <span>How are we </span>
                <span class="text-orange-650">different?</span>
              </h2>

              <!-- ONE -->
              <div class="flex flex-wrap -m-2.5">
                <div class="w-full p-2.5">
                  <div class="flex flex-wrap -m-3">

                    <!-- NUMBER -->
                    <div class="w-auto p-3">
                      <div class="flex items-center justify-center w-12 h-12 bg-gradient-to-b from-gray-200 rounded">
                        <div class="text-orange-650">01</div>
                      </div>
                    </div>

                    <!-- CONTENT -->
                    <div class="flex-1 p-3">
                      <h3 class="font-heading mb-2 text-xl text-orange-650">waste brokers prioritize profits</h3>
                      <p class="text-sm text-gray-500">We prioritize greenhouse emissions, biodiversity loss and pollution.</p>
                    </div>

                  </div>
                </div>
                
                <!-- TWO -->
                <div class="w-full p-2.5">
                  <div class="flex flex-wrap -m-3">

                    <!-- NUMBER -->
                    <div class="w-auto p-3">
                      <div class="flex items-center justify-center w-12 h-12 bg-gradient-to-b from-gray-200 rounded">
                        <div class="text-orange-650">02</div>
                      </div>
                    </div>

                    <!-- CONTENT -->
                    <div class="flex-1 p-3">
                      <h3 class="font-heading mb-2 text-xl text-orange-650">recycling companies lack objectivity</h3>
                      <p class="text-sm text-gray-500">We occupy the space between you and your supplier. We do not handle waste.</p>
                    </div>
                  </div>
                </div>

                <!-- THREE -->
                <div class="w-full p-2.5">
                  <div class="flex flex-wrap -m-3">
                    
                    <!-- NUMBER -->
                    <div class="w-auto p-3">
                      <div class="flex items-center justify-center w-12 h-12 bg-gradient-to-b from-gray-200 rounded">
                        <div class="text-orange-650">03</div>
                      </div>
                    </div>

                    <!-- CONTENT -->
                    <div class="flex-1 p-3">
                      <h3 class="font-heading mb-2 text-xl text-orange-650">large consultancies are broad in scope</h3>
                      <p class="text-sm text-gray-500">We focus on Scope 3 emissions from electronics and electricals.</p>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- RIGHT -->
          <!-- WE ARE TOGETHER IMAGE -->
          <div class="container w-full lg:w-1/2 p-8 lg:p-0">
            <img class="mx-auto md:mr-0 rounded grayscale" 
            src="https://i.vimeocdn.com/video/788345043-bfac840045ed2a8a597d01460f45b5932c4cd54d5e2df13f9cae9a90b89bcb36-d_1280" alt="Employees stand under a banner that reads Cleaner, Circular Planet">
          </div>
          
          <!-- PLAY BUTTON -->
          <div class="hidden relative container ml-50 z-10">
            <img src="https://imagedelivery.net/uIknt2TlDR57WZHMJo_oWQ/4710157b-1730-4243-e122-f4308880c700/public" alt="Press to play video button" width="40vw" height="auto">
          </div>
        
        </div>
      </div>
    </div>
  </section>


