---
import Title from "./Titles/Title.astro";
import One from "./One.astro";
import Four from "./Four.astro";
import Two from "./Two.astro";
import Footer from "../Footer/Footer.astro";
import Memberships from "./Memberships.astro";
import Three from "./Three.astro";
---

<!-- CONTENT -->
<div class="space-y-20 lg:space-y-40 mt-20 container mx-auto">
	<div class="flex max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl"><Title /></div>
	<div class="flex justify px-8"><One /></div>
	<div class="flex justify px-8"><Two /></div>
	<div class="flex justify px-8"><Three /></div>
	<div class="flex justify px-8"><Four /></div>
</div>


<!-- FOOTER -->
<div class="space-y-0">
	<div class="px-8 xl:px-32 pb-10 hover:bg-slate-650 dark:bg-black"><Footer /></div>
</div>


<!-- problems with Memberwships alignment at 2xl -->