---
import Title from "./Titles/Title.astro";
import One from "./One.astro";
import Four from "./Four.astro";
import Two from "./Two.astro";
import Footer from "../Footer/Footer.astro";
import Three from "./Three.astro";
---

<!-- CONTENT -->
<div class="space-y-20 lg:space-y-40 mt-20 container mx-auto">
	<div class="flex justify"><Title /></div>
	<div class="flex justify px-8"><One /></div>
	<div class="flex justify px-8"><Two /></div>
	<div class="flex justify px-8"><Three /></div>
	<div class="flex justify px-8"><Four /></div>
</div>


<!-- FOOTER -->
<div class="space-y-0 pt-20">
	<div class="px-8 pb-10 dark:bg-gradient-to-br dark:from-slate-950 bg-gradient-to-br from-yellow-650 md:bg-gradient-to-b md:from-slate-950 border-t rounded-lg"><Footer /></div>
</div>


<!-- problems with Memberwships alignment at 2xl -->