---
---

<!-- Last updated -->
<div
	class="hidden md:flex absolute right-10 bottom-10 lg:top-2/3 xl:top-1/2 align-text-bottom justify-end opacity-15">
	<p class="text-sm text-slate-100 leading-8">Last updated on December 31, 2023</p>
</div>
