---
import One_A from "./One_A.astro";
---

<!-- ONE -->
<section class="md:bg-slate-950 border-transparent rounded-lg lg:hover:bg-slate-900 md:text-slate-50">
  <div class="container mx-auto lg:mt-10  border-transparent rounded-lg">
    <div class="grid md:grid-flow-col gap-20 h-full mx-auto space-y-0 rounded-3xl py-8 md:py-28 md:px-8">
      <!-- LEFT -->
      <div class="w-full h-full dark:bg-transparent-650">
        <One_A />
      </div>

      <!-- RIGHT -->
      <div class="w-full pr-8 space-y-10 border-l-2 border-purple-650 xl:pr-0 dark:text-slate-50">
        <!-- TITLE -->
        <div class="mx-auto ml-8 space-y-10">
          <div class="space-y-6">
            <p class="flex mx-auto text-center leading-relaxed text-inherit text-2xl max-w-xl justify-center">
              Did you know your supply chain generates as much as 80% of your
              total greenhouse gas emissions?
            </p>
            <p class="flex mx-auto text-center justify-center max-w-md font-light text-inherit text-lg">
              Or that electronic waste is the world's fastest growing waste
              stream?
            </p>
          </div>

          <p class="text-inherit">
            Greenhouse emissions from your supply chain are known as "Scope 3".
            Our platform helps you manage the Scope 3 emissions, biodiversity
            loss and pollution created by your electronics and electricals.
          </p>

          <p class="text-inherit">
            <b>It's important to note that we do not physically handle waste.</b
            >
          </p>
        </div>

        <div class="container mx-auto ml-8">
          <h1 class="text-lg font-extralight">I. EE Management</h1>
        </div>

        <!-- PARAGRAPHS -->
        <div class="ml-8">
          <p class="text-inherit">
            <i><b>Mining.</b></i> Renewables are the accepted cure to curb global
            warming, however, they power just 3% of the world's energy. To meet the
            increasing global demand, experts estimate that we will need to collect
            and refine minerals at a rate that is 7000% higher than current levels.
            Where will we obtain the necessary quantities? How will refining these
            quantities affect the planet? Unless we reclaim the minerals via urban
            mining, we will mine for virgin metals. Mining at this scale will encourage
            destructive mining practices. For example, refineries poison groundwater
            systems and devastate local ecosystems. If these issues resonate with
            you, we can help motivate your upstream suppliers to adopt best practices.
            We envision a future in which the mining sector invests in desalination
            plants to reduce groundwater use, tracks super greenhouse gases released
            during the refining process and funds urban mining programs.
          </p>
        </div>

        <div class="ml-8">
          <p class="text-inherit">
            <i><b>Manufacturing.</b></i>The manufacturing processes for
            electronics and electricals release extremely potent greenhouse
            gases. Sulfur hexafluoride (SF<sub>6</sub>) has a global warming
            potential 24,000 times greater than that of carbon dioxide (CO<sub
              >2</sub
            >) when measured over a 100-year period. Nitrogen trifluoride (NF<sub
              >3</sub
            >) is 17 thousand times greater. Get meaningful, actionable data
            about the environmental impact of your microelectronics or
            semiconductor devices - from your flat-panel displays and
            photovoltaics to cell phones or computers, to batteries for your
            corporate electric vehicles.
          </p>
        </div>

        <div class="ml-8">
            <p class="text-inherit">
                <i><b>Purchases and Sales.</b></i>As intermediaries between manufacturers and consumers, electronics retailers exert considerable influence throughout the product lifecycle, impacting both its creation and post-consumer phases. Retailers are uniquely positioned to mitigate environmental issues by initiating take-back schemes or recycling programs. Retailers can play a crucial role in managing the electronics waste stream, facilitating the identification of primary contributors to eWaste. Furthermore, retailers bear the responsibility of fostering sustainability within their product selections. Retailers can should prioritize products characterized by energy efficiency, the use of recycled materials, or those that are readily recyclable upon reaching the end of their lifecycle. Through the promotion of refurbished goods and supporting electronics repair services, retailers contribute to prolonging product lifespans, thereby diminishing the environmental footprint associated with electronic goods.
            </p>
        </div>

        <div class="container mx-auto ml-8">
          <h1 class="text-lg font-extralight">II. eWaste Management</h1>
        </div>

        <div class="ml-8">
          <p class="text-inherit">
            <i><b>Disposals.</b></i>Broken or outdated electronics are subject
            to hazardous waste disposal laws, anti-dumping regulations, and
            more. Yet, just 10% of electronic waste is recycled globally. eWaste
            degrades the natural defenses within our environment. When
            improperly treated, eWaste pollutes our air, soil and waterways. A
            weakened ecosystem has a negative impact on biodiversity. We need
            these defenses to fight climate change. Our digital solutions
            provide insight into where your eWaste really goes. Use our
            specialty eWaste containers to protect your abandoned electronics from
            erosion and damage, making reuse more likely.<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
