---
import Subheader from "./Subheader.astro";
---

<div class="md:bg-gradient-to-l md:via-slate-650 md:from-slate-650 opacity-100 border-transparent rounded-e-lg dark:bg-transparent-650">
    <Subheader/>
</div>


