---
---

<div class="flex flex-col py-2 lg:py-6 md:space-y-6 md:pl-20 xl:ml-64 z-10">
    <div class="w-fit md:px-4 mb-4 md:mb-0 sm:z-50">
        <h1 class="tracking-widest font-extralight w-fit rounded-md text-transparent text-xs sm:text-slate-200 text-xl sm:bg-slate-900 text-orange-650">
            Tech to save the planet.
        </h1>
    </div>

    <div class="w-fit md:px-4 mb-4 md:mb-0 sm:z-50">
        <h2 class="flex text-3xl 2xl:text-5xl tracking-widest leading-10 font-light text-orange-650">
            Scope 3 management of electronics & electricals
        </h2>
    </div>
</div>
