---

---

<div class="w-screen">
	<div class="flex flex-col px-4 py-10 space-y-8 lg:bg-slate-900">
		<a href="https://about.mobicycle.us" class="flex p-2 mx-0 text-slate-200 w-fit lg:mx-3 hover:text-orange-650 hover:border border-orange-650 md:text-right"> About MobiCycle USA</a>
		<a href="https://mobicycle.consulting" class="flex p-2 mx-0 w-fit text-slate-200 lg:mx-3 hover:text-orange-650 hover:border border-orange-650"> Consulting</a>
		<a href="https://mobicycle.tech" class="flex p-2 mx-0 w-fit text-slate-200 lg:mx-3 hover:text-orange-650 hover:border border-orange-650"> Technologies</a>
		<a href="https://mobicycle.games" class="flex p-2 mx-0 w-fit text-slate-200 lg:mx-3 hover:text-orange-650 hover:border border-orange-650"> Games</a>
		<a href="https://mobicycle.marketing" class="flex p-2 mx-0 w-fit text-slate-200 lg:mx-3 hover:text-orange-650 hover:border border-orange-650"> Marketing</a>
	</div>
</div>
